/* 首部 */
.head{
    width: 100%;
    height: 0.6rem;
    padding: 0.15rem 0.16rem 0;
    box-sizing: border-box;
    background: #fff;
}
.head>.hWrap{
    height: 0.36rem;
    

}
.head .search{
    position: relative;
    width: 2.81rem;
    height: 0.36rem;
    line-height:0.36rem;
    background: #eeeeee;
    color: #a5a5a5;
}
.search .icon-fangdajing{
    margin: 0 0.05rem 0 0.1rem;
}
.hWrap .down img{
    display: block;
    width: 0.24rem;
    height: 0.24rem;
    margin: 0 auto;
    
}
.hWrap .down{
    white-space: nowrap;
    width: 0.47rem;
    height: 0.38rem;
    font-size: 0.12rem;
    line-height: 0.14rem;
    color: #737373;
    margin-left: 0.1rem;
}
/* E首部 */


.main{
    padding: 0 0 0.2rem 0;
}
/* S导航栏 */
.navList{
    padding: 0 0.07rem;
    margin-top: 0.08rem;
}
.navList .tour {
    display: flex;
    height: 0.9rem;
    text-align: center;
}
.navList .tour a{
    width: 20%;
}
.navList .tour a img{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 auto;
}
.tour>a>p{
    font-size: 0.12rem;
    color: #333333;
    margin-top: 0.05rem;
}
.navList .tour.ticket{
    height: 0.65rem;
}
.navList .tour.ticket img{
    width: 0.29rem;
    height: 0.29rem;
}
/* E导航栏 */

/* S旅游景点 */
.vacationing{
    box-sizing: border-box;
    padding: 0 0.1rem;
}
.vacationing .title{
    padding-left: 0.05rem;
    line-height: 0.38rem;
    font-size: 0.18rem;
}
.vacationing .vacaHd a.active{
    background: #17c0c8;
    background: 1px solid #17c0c8;
    color: #fff;
}
.vacationing .vacaHd a{
    display: inline-block;
    padding: 0 0.13rem;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    font-size: 0.12rem;
    color: #666666;
}
.vacaBd>.sWrap>a{
    width: 49%;
    float: left;
    height: auto;
    margin-top: 0.05rem;
}
.vacaBd>.sWrap>a:nth-of-type(2n){
    padding-left: 2%;
}
.vacaBd>.sWrap>a>.thumb{
    position: relative;
    width: 100%;
    height: 1rem;
    overflow: hidden;
    border-radius: 0.05rem;

}
.vacaBd>.sWrap>a>.thumb>.mask{
    position: absolute;
    width: 1rem;
    background: rgba(0,0,0,.6);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: block;
    font-size: 0.12rem;
    text-align: center;
    
}
.thumb>.mask>.place{
    color: #fff;
    font-size: 0.14rem;
}
.thumb>.mask>.count{
    color: #ceb300;
    font-size: 0.12rem;
}
.vacaBd>.sWrap>a>.thumb>img{
    display: block;
    width: 100%;
   
}
.vacaBd>.sWrap>a>p{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.vacaBd>.sWrap>a>.tehui{
    font-size: 0.14rem;
    color: #000;
    margin-top: 0.03rem;
}
.vacaBd>.sWrap>a>.price{
    font-weight: 600;
    color: #ff7400;
    font-size: 0.18rem;
}
.vacationing .moreVaca{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 3.42rem;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.14rem;
    color: #00d0d4;
    border: 0.01rem solid #00d0d4;
    border-radius: 0.04rem;
    margin: 0.16rem auto;
}
.vacaBd .copy-one{
    display: none;
}
.vacaBd .copy-one .mes{
    font-size: 0.13rem;
    color: #555;
    font-weight: 100;
}
.copythree .vacaBd{
    margin-bottom: 0.4rem;
}
.copythree .vacaBd>.sWrap>a>p{
    overflow: initial;
    text-overflow: initial;
    white-space:initial;
    padding:0.05rem;
}
.copythree .icon-gonglve{
    color:#00bcd4 ;
}

/* 尾部导航栏 */
.hm {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    border-top: 1px solid #efefef;
    justify-content: space-around;
    padding: 0.02rem 0;
}
.hm a{
    flex: 1;
    text-align: center;
    color: #616161;
}
.hm>a>.iconfont{
    line-height: 0.28rem;
    font-size: 0.2rem;
}
.hm>a>.ftxt{
    transform: scale(.83);
}
.hm a.current{
    color:#00bcd4 ;
}
.hm .top{
    display: none;
}

/* 尾部 */
.footer {
    padding: 0.25rem 0  0.55rem;
    font-size: 0.12rem;
    color: #999;
}
.footer p{
    padding: 0.1rem;
    text-align: center;
    line-height: 0.22rem;
}
.footer a{
    color: #999;
    padding: 0.05rem 0;
}
.footer .s24{
    background: url(../images/24h.png) no-repeat;
    padding-left: 0.2rem;
}
#topbar{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
#reHome {
    display: flex;
    width: 2.65rem;
    height: 0.29rem;
    font-size: 0.14rem;
    color: #a5a5a5;
    line-height: 0.29rem;
    background: #f4f4f4;
}
#reHome .rehome{
    position: absolute;
    right: 0;
    top: 0;
}
#topbar .icon-zuojiantou{
    line-height: 0.3rem;
    font-size: 0.22rem;
    color: #9fa2a3;
}
#topbar .rehome{
    display: block;
    width: 0.25rem;
    height: 0.29rem;
}
#topbar .shuru{
    font-size: 0.14rem;
    background: #f4f4f4;
}