<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=0"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/zepto.min.js"></script>
    <link rel="stylesheet" href="../css/layer.css">
    <script src="../js/layer.js"></script>
    <script src="../js/style.js"></script>
    <script src="../js/TouchSlide.1.1.js"></script>
</head>
<body>
    <div id="app">
        <div class="shell">
            <div class="view">
                <div>
                    <header class="bar">
                        <div class="fixed-br">
                            <a href="#">
                                <img src="../images/580504b728f9849e54b90b9cd56894cd.gif" alt="">
                            </a>
                            <a href="javascript:;" id="top">
                                <img src="../images/top.451d650ecd.png" alt="">
                            </a>
                        </div>
                        <div class="wrapper">
                            <div>
                                <div class="logo">
                                    <img src="../images/1.png" alt="">
                                </div>
                            </div>
                            <div class="middle">
                                <div class="title">
                                    <i class="icon"></i>
                                    搜索商品名称
                                </div>
                            </div>
                            <div>
                                <div class="logo">
                                    <i class="user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="nav-wrap">
                            <div class="nav-display">
                                <i class="icons"></i>
                            </div>
                            <div class="nav">
                                <div class="nav-item">
                                    <span class="bgred">推荐</span>
                                </div>
                                <div class="nav-item">
                                    <span>手机</span>
                                </div>
                                <div class="nav-item">
                                    <span>智能</span>
                                </div>
                                <div class="nav-item">
                                    <span>电视</span>
                                </div>
                                <div class="nav-item">
                                    <span>笔记本</span>
                                </div>
                                <div class="nav-item">
                                    <span>家电</span>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div>
                        <div class="bodys">
                            <div id="slideBox" class="slideBox">
                                <div class="hd">
                                    <ul></ul>
                                </div>
                                <div class="bd">
                                    <ul>
                                        <li>
                                            <a class="pic" href="#" style="height: 3.6rem; width: 375px;"><img src="../images/bab9aa2ba1f841335041cc7b36294a5a.jpg" /></a>
                                        </li>
                                        <li>
                                            <a class="pic" href="#" style="height: 3.6rem; width: 375px;"><img src="../images/7b30c080c332f51b42d8b91205d2d4e3.jpg"/></a>
                                        </li>
                                        <li>
                                            <a class="pic" href="#" style="height: 3.6rem; width: 375px;"><img src="../images/03ff022009a635262d53451d532518ed.jpg"/></a>
                                        </li>
                                        <li>
                                            <a class="pic" href="#" style="height: 3.6rem; width: 375px;"><img src="../images/14879bffb504952d1d92b20d6e5f8e26.jpeg"/></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cell">
                                <a href="#" class="list-main" style="width: 1.44rem; height: 1.52rem;">
                                    <img src="../images/cb65daec7ef7b52cc785f88f78efba37.png" alt="">
                                </a>
                                <a href="#" class="list-main" style="width: 1.44rem; height: 1.52rem; left: 1.44rem;">
                                    <img src="../images/eb5024fe-dfe3-6e53-3e18-675bef5fa06e.webp" alt="">
                                </a>
                                <a href="#" class="list-main" style="width: 1.44rem; height: 1.52rem; left: 2.88rem;">
                                    <img src="../images/d436f30612651fffe1d6c5aaa3fdb816.png" alt="">
                                </a>
                                <a href="#" class="list-main" style="width: 1.44rem; height: 1.52rem; left: 4.32rem;">
                                    <img src="../images/e8bc849a-0a3b-21a0-6810-7da3a3903dee.webp" alt="">
                                </a>
                                <a href="#" class="list-main" style="width: 1.44rem; height: 1.52rem; left: 5.76rem;">
                                    <img src="../images/7dbcbf87-6a58-adb6-2f3f-bb3dae3e9c80.webp" alt="">
                                </a>
                            </div>
                            <div class="cell">
                                <a href="#" class="list-main" style="width: 1.44rem; height: 1.52rem;">
                                    <img src="../images/64f3988b6216e4c1ab62a7f50df3e816.png" alt="">
                                </a>
                                <a href="#" class="list-main" style="width: 1.44rem; height: 1.52rem; left: 1.44rem;">
                                    <img src="../images/9ea68dee2bfa0e55a82236b0d968e975.png" alt="">
                                </a>
                                <a href="#" class="list-main" style="width: 1.44rem; height: 1.52rem; left: 2.88rem;">
                                    <img src="../images/96c780016ea196743905dc93f9249c39.png" alt="">
                                </a>
                                <a href="#" class="list-main" style="width: 1.44rem; height: 1.52rem; left: 4.32rem;">
                                    <img src="../images/9425031cdd7af22d9a23a5ae16d1f57c.jpg" alt="">
                                </a>
                                <a href="#" class="list-main" style="width: 1.44rem; height: 1.52rem; left: 5.76rem;">
                                    <img src="../images/e8bc849a-0a3b-21a0-6810-7da3a3903dee.webp" alt="">
                                </a>
                            </div>
                            <div class="divder"></div>
                            <div class="multi">
                                <a href="#" class="list-main" style="width: 3.58rem;">
                                    <img src="../images/d692a30ee3d586c4274575eec255d3c5.jpg" alt="">
                                </a>
                                <a href="#" class="list-main" style="width: 3.58rem; left: 3.62rem;">
                                    <img src="../images/827a686678f39b1bbdc99c6e6b6a13c8.jpg" alt="" style="height: 2.52rem;">
                                </a>
                                <a href="#" class="list-main" style="width: 3.58rem; left: 3.62rem; top: 2.56rem;">
                                    <img src="../images/267e988a99b5cf4e960747e8aa5fa831.jpg" alt="" style="height: 2.52rem;">
                                </a>
                            </div>
                            <div class="divder"></div>
                            <div>
                                <a href="#" style="width: 7.2rem;" class="seatch">
                                    <img src="../images/189acdf7e9b807cfc22d394df87c1958.jpg" alt="" style="width: 7.2rem; height: 2.8rem;">
                                </a>
                            </div>
                            <div class="divder"></div>
                            <div>
                                <a href="#" style="width: 7.2rem;" class="seatch">
                                    <img src="../images/0c08e3519b4c98ae53734a405143ffee.jpg" alt="" style="width: 7.2rem; height: 4.4rem;">
                                </a>
                            </div>
                            <div class="line"></div>
                            <div class="type13">
                                <a href="particulars.html" class="item">
                                    <div class="img">
                                        <img src="../images/f90791bccff62ad03a0476156e7bb16d.jpg" alt="" style="width: 3.44rem; height: 2.8rem;">
                                    </div>
                                    <div class="align-center white info">
                                        <div class="cutFont name">小米10 Pro</div>
                                        <div class="cutFont brief">骁龙865 / 50倍变焦</div>
                                        <div class="price">￥4999起</div>
                                        <div class="mauto buybtn"> 立即购买</div>
                                    </div>
                                </a>
                                <a href="#" class="item">
                                    <div class="img">
                                        <img src="../images/9b3b7c52bffab0806c54652ee0872a64.jpg" alt="" style="width: 3.44rem; height: 2.8rem;">
                                    </div>
                                    <div class="align-center white info">
                                        <div class="cutFont name">小米10</div>
                                        <div class="cutFont brief">骁龙865/1亿像素相机</div>
                                        <div class="price">￥3799起</div>
                                        <div class="mauto buybtn"> 立即购买</div>
                                    </div>
                                </a>
                            </div>
                            <div class="line"></div>
                            <div class="type13">
                                <a href="#" class="item">
                                    <div class="img">
                                        <img src="../images/64a04d4f67a23c2d8643aaba52e2392b.jpg" alt="" style="width: 3.44rem; height: 2.8rem;">
                                    </div>
                                    <div class="align-center white info">
                                        <div class="cutFont name">Redmi K30 4G</div>
                                        <div class="cutFont brief">120Hz流速屏， 全速热爱</div>
                                        <div class="price">￥1399起</div>
                                        <div class="mauto buybtn"> 立即购买</div>
                                    </div>
                                </a>
                                <a href="#" class="item">
                                    <div class="img">
                                        <img src="../images/cf8c841ab5e52d443be110f6aa7e0d98.jpg" alt="" style="width: 3.44rem; height: 2.8rem;">
                                    </div>
                                    <div class="align-center white info">
                                        <div class="cutFont name">Redmi K30 5G</div>
                                        <div class="cutFont brief">双模5G， 120Hz流速屏</div>
                                        <div class="price">￥1599起</div>
                                        <div class="mauto buybtn"> 立即购买</div>
                                    </div>
                                </a>
                            </div>
                            <div class="line"></div>
                            <div class="type13">
                                <a href="#" class="item">
                                    <div class="img">
                                        <img src="../images/53e729d30746033a042d8ae9399553a7.jpg" alt="" style="width: 3.44rem; height: 2.8rem;">
                                    </div>
                                    <div class="align-center white info">
                                        <div class="cutFont name">Redmi Note 8 Pro</div>
                                        <div class="cutFont brief">6400万全场景四摄</div>
                                        <div class="price">￥1099起</div>
                                        <div class="mauto buybtn"> 立即购买</div>
                                    </div>
                                </a>
                                <a href="#" class="item">
                                    <div class="img">
                                        <img src="../images/8025107813883a20d3f2d956ad80ea38.jpg" alt="" style="width: 3.44rem; height: 2.8rem;">
                                    </div>
                                    <div class="align-center white info">
                                        <div class="cutFont name">Redmi Note 8</div>
                                        <div class="cutFont brief">千元4800万四摄</div>
                                        <div class="price">￥899起</div>
                                        <div class="mauto buybtn"> 立即购买</div>
                                    </div>
                                </a>
                            </div>
                            <div class="line"></div>
                            <div class="box-flex">
                                <a href="#" class="h">
                                    <div style="color: #000;">更多小米手机产品 ></div>
                                </a>
                            </div>
                            <div class="divder"></div>
                            <div>
                                <a href="#" style="width: 7.2rem;" class="seatch">
                                    <img src="../images/85ea26a99c704861af8e29bf7f249fed.jpg" alt="" style="width: 7.2rem; height: 2.8rem;">
                                </a>
                            </div>
                            <div class="divder"></div>
                            <div>
                                <a href="#" style="width: 7.2rem;" class="seatch">
                                    <img src="../images/3466df89-e534-a68c-6504-2b6e0a704307.webp" alt="" style="width: 7.2rem; height: 4.4rem;">
                                </a>
                            </div>
                            <div class="line"></div>
                            <div class="type13">
                                <a href="#" class="item">
                                    <div class="img">
                                        <img src="../images/c585ed38-bee4-2f3c-c413-a1af154a74b3.webp" alt="" style="width: 3.44rem; height: 2.8rem;">
                                    </div>
                                    <div class="align-center white info">
                                        <div class="cutFont name">变频 | 米家互联网空调 1.5匹</div>
                                        <div class="cutFont brief">变频节能，高效制冷热</div>
                                        <div class="price">￥2099起</div>
                                        <div class="mauto buybtn"> 立即购买</div>
                                    </div>
                                </a>
                                <a href="#" class="item">
                                    <div class="img">
                                        <img src="../images/552e42b8706ee8d0bd3e048d2a5c4316.jpg" alt="" style="width: 3.44rem; height: 2.8rem;">
                                    </div>
                                    <div class="align-center white info">
                                        <div class="cutFont name">米家洗烘一体机Pro</div>
                                        <div class="cutFont brief">智能洗烘，省心省力</div>
                                        <div class="price">￥2999起</div>
                                        <div class="mauto buybtn"> 立即购买</div>
                                    </div>
                                </a>
                            </div>
                            <div class="line"></div>
                            <div class="type13">
                                <a href="#" class="item">
                                    <div class="img">
                                        <img src="../images/75f5a1ad-e2c6-36a9-fd56-66d253cc0469.webp" alt="" style="width: 3.44rem; height: 2.8rem;">
                                    </div>
                                    <div class="align-center white info">
                                        <div class="cutFont name">定频 | 米家空调 大1匹</div>
                                        <div class="cutFont brief">出众静音，快速制冷热</div>
                                        <div class="price">￥1499起</div>
                                        <div class="mauto buybtn"> 立即购买</div>
                                    </div>
                                </a>
                                <a href="#" class="item">
                                    <div class="img">
                                        <img src="../images/27721d21-782a-32e8-772b-462652d9acde.webp" alt="" style="width: 3.44rem; height: 2.8rem;">
                                    </div>
                                    <div class="align-center white info">
                                        <div class="cutFont name">米家互联网洗烘一体机10kg</div>
                                        <div class="cutFont brief">烘干除菌率达99.9%</div>
                                        <div class="price">￥1999起</div>
                                        <div class="mauto buybtn"> 立即购买</div>
                                    </div>
                                </a>
                            </div>
                            <div class="line"></div>
                            <div class="type13">
                                <a href="#" class="item">
                                    <div class="img">
                                        <img src="../images/ce8d4b39-18b3-5b8e-ea74-5a2c86856e20.webp" alt="" style="width: 3.44rem; height: 2.8rem;">
                                    </div>
                                    <div class="align-center white info">
                                        <div class="cutFont name">自清洁 | 米家互联网空调 1.5匹</div>
                                        <div class="cutFont brief">变频节能省电，自清洁</div>
                                        <div class="price">￥2099起</div>
                                        <div class="mauto buybtn"> 立即购买</div>
                                    </div>
                                </a>
                                <a href="#" class="item">
                                    <div class="img">
                                        <img src="../images/33c6d391-82a0-0fd2-2d0e-fb59f4679b6c.webp" alt="" style="width: 3.44rem; height: 2.8rem;">
                                    </div>
                                    <div class="align-center white info">
                                        <div class="cutFont name">Redmi全自动波轮洗衣机1A 8kg</div>
                                        <div class="cutFont brief">一键操作，父母都爱用</div>
                                        <div class="price">￥799起</div>
                                        <div class="mauto buybtn"> 立即购买</div>
                                    </div>
                                </a>
                            </div>
                            <div class="line"></div>
                            <div class="box-flex">
                                <a href="#" class="h">
                                    <div style="color: #000;">更多小米手机产品 ></div>
                                </a>
                            </div>
                            <div class="divder"></div>
                            <div class="fill" style="width: 7.2rem; height: 4.8rem;">
                                <a href="#" class="list-main" style="width: 3.58rem;">
                                    <img src="../images/46c44f3e-479d-a999-dd2d-98fb39b51e17.webp" alt="" style="width: 3.58rem; height: 4.8rem;">
                                </a>
                                <a href="#" class="list-main" style="width: 3.58rem; left: 3.62rem;">
                                    <img src="../images/b79cb907-3ae4-2a35-6756-b243b386a95a.webp" alt="" style="width: 3.58rem; height: 4.8rem;">
                                </a>
                            </div>
                            <div style="height: 0.04rem; border-bottom: 0.04rem solid rgb(245,245,245); background: rgb(245,245,245);"></div>
                            <div class="fill" style="width: 7.2rem; height: 4.8rem;">
                                <a href="#" class="list-main" style="width: 3.58rem;">
                                    <img src="../images/b883172b-5aa3-7855-678f-c615109ee0a7.webp" alt="" style="width: 3.58rem; height: 4.8rem;">
                                </a>
                                <a href="#" class="list-main" style="width: 3.58rem; left: 3.62rem;">
                                    <img src="../images/8cfcd654-4af5-9ae6-c6cc-1ba9d28be8e8.webp" alt="" style="width: 3.58rem; height: 4.8rem;">
                                </a>
                            </div>
                            <div style="height: 0.04rem; border-bottom: 0.04rem solid rgb(245,245,245); background: rgb(245,245,245);"></div>
                            <div class="fill" style="width: 7.2rem; height: 4.8rem;">
                                <a href="#" class="list-main" style="width: 3.58rem;">
                                    <img src="../images/52866372-7fe5-76c2-29a0-9ae32d07b8ff.webp" alt="" style="width: 3.58rem; height: 4.8rem;">
                                </a>
                                <a href="#" class="list-main" style="width: 3.58rem; left: 3.62rem;">
                                    <img src="../images/ad91499a-59ab-adc3-8fd5-98aefc1c43b4.webp" alt="" style="width: 3.58rem; height: 4.8rem;">
                                </a>
                            </div>
                            <div class="divder"></div>
                            <div>
                                <a href="#" style="width: 7.2rem;" class="seatch">
                                    <img src="../images/f4c4a11536a720ee0f1b516e53e4d868.jpg" alt="" style="width: 7.2rem; height: 2.8rem;">
                                </a>
                            </div>
                            <div style="background: #fff;">
                                <a href="#" class="seatch" style="width: 7.2rem;">
                                    <img src="../images/bbb5bac8089d890338b5bf8ff742cbbc.png" alt="" style="height: 1.06rem; width: 7.2rem;" class="img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="align-center box-flex navgator">
                    <a href="javascript:;" class="on flex">
                        <i class="icon-home bgcc"></i>
                        <span>首页</span>
                    </a>
                    <a href="javascript:;" class="wrap">
                        <i class="icon-home bgcc1"></i>
                        <span>分类</span>
                    </a>
                    <a href="javascript:;" class="wrap">
                        <i class="icon-home bgcc2"></i>
                        <span>星球</span>
                    </a>
                    <a href="javascript:;" class="wrap">
                        <i class="icon-home bgcc3"></i>
                        <span>购物车</span>
                    </a>
                    <a href="MyCenter.html" class="wrap">
                        <i class="icon-home bgcc4"></i>
                        <span>我的</span>
                    </a>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
<script>
    var w=document.documentElement.getBoundingClientRect().width;
    var bili=w/7.2;
    document.documentElement.style.fontSize=bili+"px";
</script>