/* 头部 */

header {
    width: 100%;
    height: 0.4rem;
    padding-top: 0.1rem;
    padding-right: 0.1rem;
}

header a img {
    width: 0.24rem;
    height: 0.24rem;
}


/* 主体部分 */

.bodyer {
    padding: 0.3rem;
    padding-top: 0;
    width: 100%;
}

.bodyer h3 {
    font-weight: normal;
}

select,
.hao input,
.ti input {
    width: 100%;
    height: 0.6rem;
    line-height: 60px;
    padding-left: 0.2rem;
    padding-right: 0.1rem;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #F0F0F0;
}


/* 提交的样式 */

.ti input {
    font-size: 22px;
    color: #fff;
    background-color: #FF6700;
}

.ti p {
    color: gray;
    font-size: 12px;
}

.ti p a {
    color: gray;
    text-decoration: solid;
}


/* 下部 */

footer {
    margin-top: 3rem;
    padding: 0.2rem;
    color: #9B9B9B;
}

footer span {
    display: inline-block;
    color: #9B9B9B;
    margin: 0 0.05rem;
}