/* 插件 */
.slideBox {
	position: relative;
	overflow: hidden;
	max-width: 5.6rem;
	/* 设置焦点图最大宽度 */
}

/* .slideBox .hd{ position:absolute; height:28px; line-height:28px; bottom:0; right:39%;; z-index:1; display: flex;} */
/* .slideBox .hd ul{display: flex; line-height:5px;} */
/* .slideBox .hd li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#333; text-indent:-9999px; overflow:hidden; margin:0 6px;z-index: 9;} */
.slideBox .hd {
	display: none;
}

.slideBox .bd {
	position: relative;
	z-index: 0;
}

.slideBox .bd li {
	position: relative;
	text-align: center;
}

.slideBox .bd li img {
	vertical-align: top;
	width: 100%;
	/* 图片宽度100%，达到自适应效果 */
}

.slideBox .bd li a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 去掉链接触摸高亮 */
.slideBox .bd li .tit {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-indent: 10px;
	height: 28px;
	line-height: 28px;
	color: #fff;
	text-align: center;
}

/* 头部 */
/* .logo {
	position: relative;
	top: -450px;
} */

.logo img {
	width: 0.42rem;
	height: 0.42rem;
	position: fixed;
	z-index: 5;
	top: 1%;
}

.logo img:nth-child(1) {
	left: 4%;
}

.logo img:nth-child(2) {
	left: 85%;
}

/* 产品详情 */
.price {
	margin: 0.11rem 0.16rem 0 0.16rem;
	/* line-height: 0.15; */
	height: 0.24rem;
}

.price span:nth-child(1) {
	font-size: 0.22rem;
	color: #ff6700;
	font-weight: 700;
	float: left;
	line-height: 0.24rem;
}

.price span:nth-child(2) {
	font-size: 0.12rem;
	float: left;
	line-height: 0.24rem;
	margin-left: 0.1rem;
}

.fw {
	margin: 0.08rem 0.16rem;
	background-color: #fff2ef;
	border-radius: 0.04rem;
	font-size: 0.12rem;
	width: 3.31rem;
	height: 0.29rem;
	line-height: 0.29rem;
	/* padding: 0.09rem 0.08rem; */
}

.fw div {
	float: left;
}

.jz {
	color: #fff;
	background-color: #ff5934;
	line-height: 0.16rem;
	margin-top: 0.04rem;
	padding: 0.02rem;
	margin-left: 0.15rem;
}

.yb {
	color: #ff5934;
	border: 1px solid #ff5934;
	line-height: 0.15rem;
	margin-top: 0.04rem;
	padding: 0.02rem;
}

.fw span {
	color: #ff5934;
	margin-right: 0.2rem;
	display: inline-block;
}

.xnjs {
	line-height: 0.24rem;
	margin: 0 0.16rem;
}

.xnjs>h2 {
	font-size: 0.16rem;
	color: #000;
	font-weight: 700;
	margin-top: 0.08rem;
	margin-bottom: 0.06rem;
}

.xnjs>p {
	font-size: 0.12rem;
}

.gn {
	padding: 0;
	text-align: center;
	color: #000;
	border-top: 1px solid rgba(0, 0, 0, .05);
	margin-top: .1rem;
	overflow-x: auto;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	align-items: center;
	display: flex;
}

.param {
	min-width: 0.85rem;
	padding: .16rem .04rem;
	border: none;
}

.param span {
	display: block;
	margin: 0 auto;
	width: 0.15rem;
	height: 0.15rem;
	margin-bottom: .04rem;
}

.param>.pm {
	padding: .04rem 0;
	font-size: 0.12rem;
	line-height: 0.13rem;
}

.ft10 {
	font-size: 0.1rem;
	line-height: 0.13rem;
}

.gt {
	height: 0.1rem;
	background: rgb(246, 246, 246);
}

/* 内容2 */
.xuangou {
	text-align: left;
	line-height: .18rem;
	padding: 0.13rem 0 0 0.16rem;
	display: flex;
	font-size: 0.12rem;
}

.xuangou div:nth-child(1) {
	color: #000;
	margin-right: .2rem;
	min-width: .25rem;
	font-weight: 500;
	padding-bottom: .13rem;
	font-size: 0.12rem;

}

.xiaomi {
	font-size: 0.12rem;
	padding: 0 0.27rem 0.13rem 0;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	flex-grow: 3;
}

.dz {
	margin-right: 0.04rem;
}

.xianhuo {
	color: #ff5934;
	margin-right: .02rem;
}

.fh {
	text-align: left;
	line-height: .18rem;
	padding: .08rem .16rem;
	font-size: 0.12rem;
}

.fh span {
	margin-right: 0.16rem;
}

/* 用户评价 */
.yhpj {
	padding: 0 0.16rem 0.18rem 0.16rem;
	width: 3.6rem;
	text-align: left;
	z-index: auto;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	line-height: .18rem;
	width: 100%;
}

.yh-box {
	margin-top: 0.14rem;
	margin-bottom: 0.15rem;
	display: flex;
	-webkit-box-align: center;
	/* -ms-flex-align: center; */
	align-items: center;
	-webkit-box-pack: justify;
	/* -ms-flex-pack: justify; */
	justify-content: space-between;
}

.yh-box h4 {
	font-size: 0.14rem;
	color: #000;
	font-weight: 700;

}

.yh-box span {
	font-size: 0.1rem;
}

.ft12 {
	font-size: 0.12rem;
}

.pj-box {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	/* display: -webkit-box;
    display: -webkit-flex; */
	display: flex;
	/* -webkit-transition-property: -webkit-transform; */
	transition-property: transform;
	box-sizing: content-box;
}

.pj-box1 {
	margin-left: 0;
	width: 2.75rem;
	flex-shrink: 0;
	/* width: 100%; */
	height: 100%;
	position: relative;
}

.pj-box2 {
	width: 2.77rem;
	/* height: 3.81rem; */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: .16rem;
	border: .01rem solid #e5e5e5;
	border-radius: .08rem;
	height: auto;
}

.align-center {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex: 1 1 auto;
}

.tx-box {
	margin-right: .12rem;
	width: .32rem;
	height: .32rem;
	overflow: hidden;
	border-radius: 100%;
}

.tx-box img {
	width: 100%;
}

.flex {
	/* display: flex; */
	-webkit-box-flex: 1;
	flex: 1 1 auto;
}

.name {
	color: #000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 1.6rem;
	font-weight: 400;
	font-size: 0.12rem;
}

.shijian {
	margin-top: .03rem;
	color: rgba(0, 0, 0, .3);
	font-size: 0.1rem;
}

.comment {
	text-align: justify;
}

.comment>p {
	margin: .08rem 0;
	line-height: 1.5em;
	height: 3em;
	overflow: hidden;
	position: relative;
	color: rgba(0, 0, 0, .5);
	font-size: .12rem;
}

.photos {
	margin-bottom: 0.06rem;
}

.photo {
	display: inline-block;
	width: 0.76rem;
	height: 0.76rem;
	margin: 0 0.05rem 0 0;
	border-radius: .08rem;
	overflow: hidden;
	position: relative;
}

.photo img {
	width: 100%;
	height: 100%;
	/* -o-object-fit: cover; */
	object-fit: cover;
}

.ml8 {
	margin-left: 0.08rem;
}

/* 米粉点评团 */
.mifen {
	padding: 0 .08rem 0.2rem 0.08rem;
	text-align: left;
}

.mifen>a {
	height: 0.51rem;
	font-size: .16rem;
	padding: 0 .08rem;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
}

.mifen-text {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* overflow: hidden; */
	color: #3C3C3C;
}

/* .mifen.text{
    display: flex;
    overflow-x: auto;
    -webkit-box-align: center;
    align-items: center;
} */
.before {
	margin-right: .16rem;
	flex-shrink: 0;
	width: 1.36rem;
	margin: 0 .08rem 0 0;
	display: block;
	border-radius: .16rem;
	overflow: hidden;
}

.img-box {
	margin: 0;
	/* height: rem; */
	border-radius: 0;
	height: 1.36rem;
	width: 100%;
	/* margin-left: .16rem; */
	/* height: 2.74rem; */
	/* border-top-left-radius: .16rem; */
	/* border-top-right-radius: .16rem; */
	overflow: hidden;
	position: relative;
}

.article {
	padding: 0 0.08rem;
	font-size: .12rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: .1rem 0 0;
	line-height: 0.13rem;
	color: #3c3c3c;
}

.add {
	display: flex;
	padding: 0 0.08rem;
	height: .42rem;
	font-size: .1rem;
	color: rgba(0, 0, 0, .5);
	justify-content: space-between;
	align-items: center;
}

.add img {
	display: block;
	width: 100%;
}

.name-box {
	width: 50%;
	align-items: center;
	display: flex;
}

.name-tp {
	flex-shrink: 0;
	width: .18rem;
	height: .18rem;
	border-radius: 50%;
	overflow: hidden;
	margin-right: .05rem;
}

.gkrs>img {
	width: 0.1rem;
	height: 0.1rem;
	display: inline-block;
}

.name-box>p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 0.13rem;
}

.gkrs>span {
	line-height: 0.6rem;
	/* margin-bottom: 0.05rem; */
	display: inline-block;
}

.topic {
	display: flex;
	overflow-x: auto;
	align-items: center;
}

/* 产品详情 */
#nav-box {
	display: flex;
	justify-content: space-around;
	font-size: 0.12rem;
	line-height: 0.35rem;
}

.color {
	color: #ff5934 !important;
}

#nav-box>a {
	color: #3c3c3c;
}

/* 为你推荐 */
.wntj {
	font-size: 0.25rem;
	padding: 0.33rem 0.16rem 0 0.16rem;
	line-height: 0.4rem;
}

.tjcp {
	display: flex;
	justify-content: space-around;
}

.shuju {
	padding: .09rem .13rem;
	/* line-height:0.25rem; */
	height: 0.58rem;
}

.pri {
	display: inline-block;
	color: #ff6700;
	margin-top: 0.01rem;
}

.shuju p:nth-child(1) {
	font-size: 0.14rem;
	color: rgba(0, 0, 0, .84);
}

.pri span:nth-child(1) {
	font-size: 0.16rem;

}

.pri span:nth-child(2) {
	font-size: 0.12rem;
}

.dianshi {
	width: 1.61rem;
	height: 1.61rem;
}

/* 底部 */
.footer {
	height: 0.58rem;
	background: rgb(255, 255, 255);
}

.xf {

	position: fixed;
	z-index: 997;
	bottom: 0.7rem;
	right: .13rem;
}

.xf img:nth-child(1) {
	width: 1.38rem;
	height: 0.38rem;

}

.xf img:nth-child(2) {
	width: 0.36rem;
	height: 0.36rem;
	margin-top: 0.05rem;

}

.footer-box {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.box {
	background-color: hsla(0, 0%, 100%, .96) !important;
	width: 100%;
	height: .48rem;
	border: 1px solid rgba(0, 0, 0, .1);
	overflow: hidden;
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
	line-height: 0.1rem;
	height: 0.52rem;
}

.box>a {
	padding: 0.05rem;
	color: rgba(0, 0, 0, .54);
	display: inline-block;
	width: auto;
	font-size: 0.12rem;
}

.box1 {
	padding-left: .1rem;
}

.box img {
	width: 0.33rem;
	height: 0.33rem;
}

.bg-tp {
	display: inline-block;
	width: 1.84rem;
	height: .36rem;
	background: url(../img/images/icon-buy-btn.c3f7faffa2.png)no-repeat;
	color: #fff;
	text-align: center;
	font-size: .14rem;
	background-size: 100% auto;
	line-height: 0.36rem;
}

.box2 {

	position: absolute;
	right: 0.28rem;
	top: -0.08rem;
}

.xf {
	position: fixed;
	height: auto;
	z-index: 99;
	/* left: 50%; */
	right: 0;
	bottom: 0.7rem;
	width: 2.66rem;
}

.height {
	height: 0.52rem;
}

.xf1 {
	position: fixed;
	height: auto;
	z-index: 99;
	/* left: 50%; */
	bottom: 0.7rem;
	right: .13rem;
	width: 0.36rem;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 98;
	background: #fff;
}

.cp-box {
	height: 0.343rem;
}

/* 弹框 */
.tk {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 3.75rem;
	background-color: #fff;
	color: #000;
	padding: 0 0.16rem 0.66rem 0.16rem;
	height: 4.96rem;
	border-top-left-radius: .12rem;
	border-top-right-radius: .12rem;
	z-index: 1100;
	text-align: left;
}

.ca {
	position: absolute;
	top: .01rem;
	right: .08rem;
	width: .3rem;
	height: .3rem;
	z-index: 111;
}

.pro-info {
	padding: .33rem 0 0.1rem 0;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
}

.pro-box {
	position: relative;
	width: 1rem;
	height: 1rem;
	text-align: center;
	background: #fff;
	overflow: hidden;
	border: 1px solid #999999;
}

.desc {
	position: relative;
	width: 2.25rem;
	margin: .16rem .08rem;
	text-align: left;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: start;
	justify-content: flex-start;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.desc p:nth-child(1) {
	color: #ff6700;
	font-size: .24rem;
	line-height: 0.2rem;
}

.desc p:nth-child(2) {
	font-size: .14rem;
	color: rgba(0, 0, 0, .87);
	line-height: .2rem;
	margin-top: .07em;
}

.color-000 {
	/* position: relative; */
	padding-top: .16rem;
	padding-bottom: .08rem;
	line-height: .12rem;
	font-size: .12rem;
	color: rgba(0, 0, 0, .87);
}

.black {
	padding-bottom: .16rem;
	color: #f56600;
	height: .36rem;
	line-height: .36rem;
	/* min-width: 0.725rem; */
	width: 1rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 .08rem;
	text-align: center;
	margin: .08rem 0 0 .08rem;
	overflow: visible;
	border: 1px solid #dddddd;
	font-size: 0.12rem;
}

.gmsl-box {
	padding: .16rem 0;
	height: 0.71rem;
	font-size: 0.12rem;
	line-height: 0.38rem;
}

.but button {
	width: .3rem;
	height: .3rem;
}

.but span {
	display: inline-block;
	vertical-align: middle;
	min-width: .3rem;
	padding: 0 .06rem;
	line-height: .06rem;
	text-align: center;
	font-size: .16rem;
}

.zcc {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .8);
	z-index: 100;
}


@keyframes add {

	/* //写动画的步骤，状态
    //开始状态，用关键字from */
	from {
		/* //写让css动起来的样式
        //昨天学的+之前学的（盒模型、偏移属性、透明度、颜色） */

	}

	/* //结束状态，用关键字to */
	to {
		/* //这里的代码同上 */
	}
}
