.detail{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	background: #f5f5f5;
}

.fixed-top{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1003;
}

.header{
	z-index: 1003;
	width: 100%;
	height: .44rem;
	line-height: .44rem;
	position: relative;
	color: #fff;
	font-size: .18rem;
	text-align: center;
}

.back,.love,.more{
	display: block;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	color: rgb(255, 255, 255);
	font-size: .24rem;
	text-align: center;
	width: .36rem;
	height: .36rem;
	line-height: .36rem;
	border-radius: 100%;
	cursor: pointer;
	bottom: .05rem;
}
.header a>i{
	text-align: center;
	font-size: .22rem;
}

.back1{
	left: .04rem;
}
.love1{
	right: .48rem;
}
.more1{
	right: .04rem;
}

.bg{
	position: absolute;
	left: -1px;
	right: -1px;
	top: -1px;
	bottom: -1px;
	z-index: 0;
	transition: all 1s;
	text-transform: translate3d(0,0,0);
	background: rgba(0, 188, 212, 0);
}
.header>a{
	transition: all 1s;
}
.bg1{
	background: rgb(0, 188, 212);
}

.slide{
	width: 3.75rem;
	height: 2.5rem;
	position: relative;
}

.ad{
	position: absolute;
	left: .1rem;
	bottom: -0.1rem;
	font-size: .12rem;
	height: .6rem;
	line-height: .6rem;
}

.jieshao{
	position: relative;
	top: -0.1rem;
	padding: .1rem .2rem 0 .2rem;
	background: #fff;
	margin-bottom: .1rem;
	border-radius: .12rem .12rem 0 0;
}
.jieshao1{
	padding-top: .1rem;
	padding-bottom: .1rem;
	display: flex;
	width: 100%;
	border-bottom: .01rem solid #ddd;
}
.jieshao1>div{
	flex: 1;
}

.sy{
	color: #ff8300;
}

.fen{
	font-size: .20rem;
	line-height: .20rem;
}

.good{
	display: inline-block;
	margin-left: .1rem;
}

.pl{
	font-size: .11rem;
}

.qj{
	position: absolute;
	top: -.15rem;
	right: .1rem;
}
.qj1{
	position: absolute;
	top: -.14rem;
	right: 0rem;
}

.jianjie::before{
	content: '';
	border-left: 1px solid #e0e0e0;
	transform-origin:0 0;
	width: .01rem;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.jianjie1{
	display: inline-block;
	color: #212121;
	font-size: .14rem;
	padding-left: .15rem;
}
.open{
	padding-left: .15rem;
	font-size: .11rem;
}

.dd{
	padding: .1rem 0;
}

.dd>p{
	/* padding: 0 .2rem; */
	padding-left: .25rem;
	padding-right: .15rem;
}

.dd1{
	position: absolute;
	left: 0rem;
}
.dd2{
	position: absolute;
	right: 0;
}

.qunar{
	background: #fff;
	margin-bottom: .1rem;
	padding: 0 .16rem .2rem;
}
.qunar>h3{
	font-size: .18rem;
	font-weight: bold;
	padding: .12rem 0 0 .04rem;
}

.ticket{
	background: #f8f8f8;
	padding: 0 .15rem;
	margin-top: .1rem;
	border-radius: .08rem;
}

.ticket-items{
	display: flex;
	box-sizing: border-box;
	width: 100%;
	padding: .12rem 0;
	border-bottom: 1px solid #e0e0e0;
}

.ticket-items1{
	flex: 2.92;
	align-items: center;
	-webkit-box-align: center;
	font-size: .13rem;
	color: #333;
}
.ticket-items2{
	flex: 1;
	align-items: center;
	-webkit-box-align: center;
	text-align: center;
}

.dingpiao{
	display: block;
	font-size: .12rem;
	height: .16rem;
	line-height: .16rem;
	white-space: nowrap;
	color: #00afc7;
	margin-top: .05rem;
}
.dingpiao>i{
	/* vertical-align: middle; */
	
	font-size: .1rem;
}
.maplist>div{
	white-space: nowrap;
}
.tiaojian{
	display: block;
	border: 1px solid #a5e4ec;
	border-radius: .04rem;
	font-size: .1rem;
	width: .34rem;
	height: .14rem;
	color: #00afc7;
	margin-top: .05rem;
	padding-left: .02rem;
	white-space: nowrap;
}

.ticket-items2>strong{
	height: .2rem;
	display: block;
	line-height: .14rem;
	font-size: .12rem;
	text-align: center;
}

.ticketprice{
	margin-left: .02rem;
	font-size: .2rem;
	line-height: .2rem;
}
.now{
	display: block;
	height: .26rem;
	line-height: .26rem;
	color: #fff;
	margin-top: .06rem;
	font-size: .12rem;
	border-radius: .15rem;
	background-image: linear-gradient(145deg,#ffab1e 0,#ff8c12 100%);
	cursor: pointer;
}

.map{
	padding: 0 .16rem .16rem;
	background: #fff;
}
.map>h3{
	font-size: .18rem;
	font-weight: bold;
	padding: .16rem 0 0 .04rem;
	color: #212121;
	overflow: hidden;
}
.map-p{
	font-size: .16rem;
	font-weight: bold;
  color: #212121;
	display: flex;
	padding-top: .14rem;
	line-height: .22rem;
	align-items: baseline;
}

.map-p span:nth-child(1){
	display: -webkit-box;
	-webkit-box-orient:vertical;
	text-overflow: ellipsis;
	background-image: linear-gradient(126deg,#00e0ca 0,#00bfd4 100%);
	border-radius: .03rem;
	height: .12rem;
	min-width: .04rem;
	margin-right: .06rem;
}

.ticket-type{
	margin-top: .16rem;
	background: #fff;
	margin-bottom: .1rem;
	box-shadow: 0 0.04rem 0.12rem 0 rgba(0,0,0,0.10);
	border-radius: .08rem;
}

.mp{
	padding: .16rem 0;
	margin: 0 .1rem;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
}
.mp h5{
	width: 2.40rem;
}
.icon-xiala,.icon-shangla{
	font-size: .12rem !important;
	color: #C2CCD1;
	cursor: pointer;
}

.maplist{
	display: flex;
	align-items: center;
}

.xialabox{
	background: #f8f8f8;
	padding: 0 .16rem;
	margin: .16rem 0 .1rem;
	border-radius: .08rem;
	display: none;
}

.xialabox>div{
	display: flex;
	padding: .16rem 0;
	box-sizing: border-box;
	width: 100%;
}

.bluejl{
	margin-top: .06rem;
	display: flex;
	font-size: .12rem;
	color: #616161;
	line-height: .17rem;
}

.bluejl span:nth-child(2){
	display: inline-block;
	margin-left: .03rem;
	padding-left: .05rem;
}
.bluejl span:nth-child(1){
	display: inline-block;
}

.bluejl span:nth-child(2)>i{
	font-size: .12rem;
}

.min{
	min-height: none;
}

/* 左下角置顶 */

.back-top{
	position: fixed;
	background-color: #00bcd4;
	width: .30rem;
	height: .30rem;
	line-height: .30rem;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	right: .05rem;
	bottom: .65rem;
	
}
.back-top>i{
	font-size: .16rem;
	margin-left: .03rem;
	color: #fff !important;
}

.bgred{
	background-color: red;
}

a:hover{
	color: #fff !important;
}

/* 底部菜单 */
.m-footer{
	width: 100%;
	height: .49rem;
	/* line-height: .49rem; */
	text-align: center;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	background-color: #fff;
	border-top: 1px solid #f8f8f8;
	/* display: none; */
}

.m-footer>div{
	flex: 1;
	text-align: center;
}

.txt{
	font-size: .1rem;
	padding-top: .03rem;
}

.m-footer div:nth-child(1)>span{
	display: block;
	color: #00afc7;
}
.m-footer div:nth-child(2)>span{
	display: block;
	color: #00afc7;
}
.m-footer div:nth-child(3)>span{
	display: block;
	color: #666;
}

.icon-chat{
	color: #00afc7;
}

.m-footer div:nth-child(1){
	border-right: 1px solid #ddd;
}
.m-footer div:nth-child(2){
	border-right: 1px solid #ddd;
}

.join{
	font-size: .14rem;
	width: 1rem;
	background: #ff9800;
	height: .37rem;
	line-height: .37rem;
	color: #fff;
	margin-right: .08rem;
	border-radius: .04rem;
	flex: 1.5!important;
}
.yuding{
	font-size: .14rem;
	width: 1rem;
	background-image: linear-gradient(-135deg,#ff8300 0,#ff5800 100%);
	height: .37rem;
	line-height: .37rem;
	color: #fff;
	margin-right: .08rem;
	border-radius: .04rem;
	flex: 1.5!important;
}

.shoppingcar{
	position: relative;
}

.shuliang{
	position: absolute;
	left: 68%;
	top: 0;
	width: .13rem;
	height: .13rem;
	line-height: .13rem;
	background-color: red;
	border-radius: 100%;
	font-size: .10rem;
	color: #fff;
	display: none;
	text-align: center;
}

.talk{
	margin-top: .1rem;
	background: #fff;
}

.talk>h3{
	padding-left: .16rem;
	background-color: #fff;
	color: #212121;
	font-weight: bold;
	font-size: .18rem;
	padding-top: .16rem;
	border-bottom: 1px solid #ddd;
	padding-bottom: .03rem;
}

.talkbox{
	padding: .1rem .2rem .3rem .2rem;
	
}

.star{
	line-height: .3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.star div i{
	color: #FFB436;
	font-size: .10rem;
}

.star div .font12{
	font-size: .12rem;
	color: #999;
}

.talk-content{
	height: 1.03rem;
	overflow: hidden;
	word-break: break-all;
	font-size: .13rem;
	color: #616161;
	line-height: .2rem;
	
}

.talkmore{
	color: #9e9e9e;
	text-align: center;
	padding-top: .08rem;
}

.auto{
	height: auto;
	overflow: auto;
}
.talkpic,.talkpic1{
	margin: .2rem 0 .1rem 0;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}
.talkpic1>div{
	width: 32%;
	margin-bottom: .05rem;
}
.talkpic>div{
	width: 32%;
	margin-bottom: .05rem;
}
.talk div>img{
	width: 100%;
	height: 100%;
}

/* 图片预览图 */
.fixedimg{
	position: fixed;
	z-index: 10000;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: #000000;
	display: none;
}

.fixedimg>img{
	margin-top: 30%;
	width: 100%;
	height: 60%;
}

.imgbtn{
	color: #fff;
	text-align: right;
	font-size: .3rem;
	padding-right: .1rem;
}

.download{
	color: #fff;
	position: absolute;
	right: .1rem;
	bottom: .1rem;
}

.all{
	height: .5rem;
	line-height: .5rem;
	text-align: center;
	color: #616161;
	border-top: 1px dashed #ddd;
	background: #fff;
}

.look{
	margin-top: .1rem;
	/* margin-bottom: .2rem; */
	background: #fff;
	border-bottom: 1px solid #dadada;
}
.looktop{
	padding: 0 .2rem;
}

.look1{
	color: #333;
	font-weight: 400;
	font-size: .15rem;
	height: .44rem;
	line-height: .44rem;
}

.looklist{
	overflow: hidden;
	background: #fff;
	/* margin-bottom: 1rem; */
}

.looklist1{
	display: flex;
	/* align-items: center; */
}

.lookpic{
	height: .81rem;
	width: .81rem;
	margin: .1rem .2rem 0 .2rem;
}
.lookpic>img{
	width: 100%;
	height: 100%;
}
.you1{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.lookyou{
	width: 2.53rem;
	margin-top: .1rem;
	border-bottom: 1px solid #dadada;
}

.you2{
	margin-top: .1rem;
}

.you2>i{
	font-size: .11rem;
}

.you2>span{
	display: inline-block;
	color: #9e9e9e;
	font-size: .12rem;
	margin-left: .1rem;
}
.you3>span{
	display: inline-block;
	color: #9e9e9e;
	font-size: .12rem;
	padding: 0 .02rem 0 .03rem;
}

.you3{
	margin-top: .05rem;
	margin-bottom: .05rem;
}

.bq{
	color: #9e9e9e;
	text-align: center;
	font-size: .14rem;
	margin-bottom: 1rem;
	height: .3rem;
	line-height: .3rem;
	margin-top: .2rem;
}

.topnav{
	position: fixed;
	top: .44rem;
	width: 100%;
	border-bottom: .01rem solid #e0e0e0;
	overflow-x: scroll;
	background: #fff;
	height: .50rem;
	line-height: .48rem;
	display: none;
	transform: translateZ(0);
}
.topnav1{
	display: flex !important;
	width: 100%;
	align-items: center;
	transform: translateZ(0)
}
.topnav1>div{
	width: 25%;
	text-align: center;
	cursor: pointer;
}

.topnav-cur{
	border-bottom: 2px solid #00bcd4 !important;
	color: #00bcd4 !important;
}