*{
	font-size: 0.12rem;
	color: #616161;
}
a{
	color: #616161;
}
.nav1 a>span{
	display: inline-block;
	margin-top: .1rem;
}
.top{
	display: flex;
	height: 0.46rem;
	margin: .15rem .16rem 0;
}
.search{
	width: 2.8rem;
	background-color: #eee;
	font-size: 0.2rem;
	line-height: 0.36rem;
	display: flex;
	height: 0.36rem;
	border-radius: 3px;
	padding-left: .1rem;
}
.search>div{
	font-size: .15rem;
	color: #a5a5a5;
	padding-left: .1rem;
}
.topyou{
	margin-left: 0.16rem;
	
}

.topyou>div{
	color: #616161;
	font-weight: 400;
	font-size: 0.1rem;
	border: none;
}

.topyou div img{
	width: 24px;
	height: 24px;
}

/* 底部固定栏 */

.footer{
	position: fixed;
	bottom: 0;
	width: 3.75rem;
	height: 0.5rem;
	line-height: 0.5rem;
	background-color: white;
	border-top: .01rem solid #e0e0e0;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	z-index: 10;
}

.footer>div{
	flex: 1 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #616161 !important;
}
.footer div i{
	width: 0.16rem;
	height: 0.16rem;
	margin-bottom: 0.03rem;
}

.footer div a{
	color: #616161;
}

.foot2 i{
	color: #18c0c8;
}

/* 图标菜单 */
.navlist{
	margin-top: 0.07rem;
}
.nav{
	width: 100%;
	display: flex;
	padding-bottom: .1rem;
}
.nav1{
	width: 20%;
	display: flex;
	justify-content: center;
}
.nav1>a{
	display: block;
	text-align: center;
	width: 100%;
}

.navpic{
	margin: 0 auto;
}
.navpic img{
	width: .5rem;
	height: .5rem;
}

.navpic1{
	margin: 0 auto;
}
.navpic1 img{
	width: .29rem;
	height: .29rem;
}

/* 内容区 */

.content{
	margin-top: .1rem;
	width: 100%;
	padding-bottom: .2rem;
}
.tehui{
	color: #26282a;
	font-weight: 700;
	font-size: .18rem;
	margin-left: .16rem;
	margin-top: .08rem;
	margin-bottom: .08rem;
}

.tabpic{
	display: block;
	width: 49%;
	box-sizing: border-box;
}
.picc{
	overflow: hidden;
	height: 1rem !important;
	justify-content: center;
	align-items: center;
	border-radius: .05rem;
	position: relative;
}
.tabpic img{
	width: 100%;
	height: 100%;
}

.poss{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 40%;
	font-size: .14rem;
	width: 100%;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
}
.posson{
	height: 100%;
	padding: .05rem .200rem;
	display: inline-block;
	background: rgba(0,0,0,0.6);
	min-width: .8rem;
	width: 1.2rem;
}
.posson>p{
	 line-height: .18rem;
}

.space{
	font-size: .14rem;
	color: #fff;
	line-height: 1;
	font-weight: 400;
}
.day{
	font-size: .1rem;
	font-weight: 400;
	color: #ffde00;
}

.jipiao{
	width: auto;
	padding: .05rem;
	
}

.jipiao>p{
	font-size: .14rem;
	font-weight: 450;
	letter-spacing:0;
	line-height: 1.2;
}
.price>span{
	color: #ff7400;
	font-size: .18rem;
	font-weight: 600;
}

/* 更多优惠*/

.more{
	width: 3.42rem;
	height: .4rem;
	text-align: center;
	border-radius: .04rem;
	border: .5px solid #00d0d4;
	margin: .16rem auto;
	line-height: .4rem;
}
.more a{
	color: #00d0d4;
	font-weight: 400;
	font-size: .14rem;
	
}

/* 轮播图 */

.slide{
	/* width: inherit; */
	height: 100% !important;
	margin: .1rem;
	position: relative;
}

#test1 div img{
	width: 3.55rem;
	height: 1.17rem;
	border-radius: 3px;
}

.ad{
	position: absolute;
	height: .16rem;
	left: 0;
	bottom: .01rem;
	opacity: .7;
	width: .49rem;
	background: #2d5f72;
	overflow: hidden;
	border-top-right-radius:4px;
}

.camle{
	width: .21rem;
	height: .11rem;
	background: url(../images/ad_camel.png)no-repeat;
	float: left;
	margin-top: .03rem;
}
.ad_p{
	float: right;
	font-size: .12rem;
	width: .28rem;
	height: .16rem;
	text-align: center;
	line-height: .16rem;
	color: #c4d0d6;
}

/* 底部版权 */
.end{
	margin: 0 auto;
	padding-bottom: .5rem;
	color: #848484;
	font-size: .12rem;
	font-family: Arial, Helvetica, sans-serif;
	width: auto;
}
.bq{
	padding-bottom: .11rem;
	text-align: center;
	line-height: 1.231;
}
.bq>p{
	padding: .1rem !important;
	line-height: .22rem;
}
.bq p>span{
	color: #999!important;
}

/* 遮罩层 */
.cover{
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 9;
	display: none;
}

.covertop{
	width: 100%;
	height: .54rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	background-color: #fff;
	z-index: 100;
}

.covertop div i{
	font-size: .22rem;
	color: #9fa2a3;
	padding: 0 .15rem;
}

.bigsearch{
	flex: 1;
	height: .28rem;
	line-height: .28rem;
	border-radius: 3px;
	background-color: #f4f4f4;
	display: flex;
	overflow: hidden;
}

.icon-fangdajing,.icon-guanbi-{
	font-size: .14rem !important;
	color: #d4d4d4 !important;
}

.bigsearch input{
	width: 100%;
	background-color: #f4f4f4;
	height: .28rem;
	line-height: .28rem;
	border: none;
	font-size: .14rem;
	color: #3f4548;
	font-family: tahoma,arial,"Hiragino Sans GB",simsun,sans-serif;
}

.cancel{
	color: #3f4548;
	text-align: center;
	font-size: .15rem;
	padding: .05rem .15rem;
}

