* {
	padding: 0;
	margin: 0;
	/*所有的盒子都使用怪异模型*/
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-size: 0.16rem;
	/*16px*/
	background: #F2F2F2;
}

.din {
	background: #F2F2F2;
	width: 4.14rem;
	height: 0.82rem;
	position: fixed;
	top: 0;
	z-index: 1;
}

.din1 {

	width: 4.14rem;
	height: 0.48rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.din1 img {
	width: 100%;
}

.din1 input {
	font-size: 0.16rem;
	width: 2.99rem;
	height: 0.36rem;
}

.din1 div:nth-child(1) {
	width: 0.32rem;
	height: 0.32rem;
}

.din1 div:nth-child(2) {
	width: 3rem;
	height: 0.36rem;
}

.din1 div:nth-child(3) {
	width: 0.36rem;
	height: 0.36rem;
}

.din2 {
	background: #F2F2F2;
	color: #747474;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.din2 div {
	padding: 0.07rem;
}

.din2 div:nth-child(1) {
	color: #ED5B00;
	/* width: 0.46rem;
	height: 0.35rem; */
}

.din2 div:nth-child(7):hover {
	transition: transform 1s;
	transform: rotate(-180deg);
}

.din2y {
	width: 4.14rem;
	height: 1.44rem;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background: #F2F2F2;
	display: none;
}

.din2y div {
	margin: 0.1rem 0.01rem;
	float: left;
	width: 1rem;
	height: 0.35rem;
	border: 1px solid red;
	text-align: center;
	line-height: 0.35rem;
}


.nav {
	font-size: 0.13rem;
	overflow: hidden;
	position: relative;
}

.navlist {
	overflow-x: auto;
	white-space: nowrap;
	display: flex;

}

.on1 {
	color: rgb(237, 91, 0) !important;
	/* border-color: rgb(237, 91, 0) !important; */
	display: inline-block;
	line-height: 0.296rem;
	border-bottom: 2px solid rgba(237, 91, 0) !important;
}

.navlist li {
	float: left;
	padding: 0 0.13rem;
}

.navlist li a {
	color: rgb(116, 116, 116);
	line-height: 0.3rem;
	display: inline-block;
}

.nav-arr {
	position: absolute;
	right: 0rem;
	top: 0;
	width: 0.35rem;
	height: 0.28rem;
	line-height: 0.3rem;
	background-color: #f2f2f2;
	-webkit-box-shadow: -15px 0 15px 0 #f2f2f2;
	box-shadow: -15px 0 15px 0 #f2f2f2;
	z-index: 99;
}

.nav-arr .iconfont {
	font-size: 0.2rem;

}

/* .rotate{
    transform-origin:;
    animation: dong 2s 1 alternate; 
    transform:rotate(180deg)
} */
.nav-arr i {
	transition: transform .2s linear, -webkit-transform .2s linear;
}

.nav-item {
	padding-right: 0.39rem;
	display: inline-block;
}

.nav-layer {
	background-color: #f2f2f2;
	font-size: .13rem;
	text-align: left;
	padding: 0 0.13rem;
	/* -webkit-transition: max-height .3s ease-in-out;
    transition: max-height .3s ease-in-out; */
	overflow: hidden;
	display: none;
}

.nav-layer div:nth-child(1) {
	padding-top: 0.13rem;
	color: #525252;
	font-size: 0.14rem;
}

.nav-none {
	margin-top: 0.17rem;
	display: flex;
	flex-wrap: wrap;
}

li {
	list-style-type: none;
}

.nav-none>span {
	color: #525252;
	margin-right: 0.1rem;
	margin-bottom: 0.12rem;
	display: inline-block;
	width: 0.77rem;
	height: 0.27rem;
	text-align: center;
	line-height: .27rem;
	border: 1px solid #e5e5e5;
	border-radius: 0.04rem;
	font-size: 0.12rem;
}

.on {
	background-color: #fde0d5;
	border-color: #ff6700;
	color: #ff6700;
}

/* 轮播图 */
/* .kua{
	margin-top:0.82rem ;
	width: 4.14rem;
	height: 2.07rem;
}
.kua img{
	width: 100%;
} */

.slideBox {
	position: relative;
	overflow: hidden;
	margin: 0.1rem auto;
	top: 0.83rem;
	max-width: 4.14rem;
	/* 设置焦点图最大宽度 */
}

.slideBox .hd {
	position: absolute;
	height: 0.28rem;
	line-height: 0.28re;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.slideBox .hd li {
	display: inline-block;
	width: 0.1rem;
	height:0.1rem;

	border-radius: 50%;
	background: #333;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 6px;
}

.slideBox .hd li.on {
	background: #fff;
}

.slideBox .bd {
	position: relative;
	z-index: 0;
}

.slideBox .bd li {
	position: relative;
	text-align: center;
}

.slideBox .bd li img {
	vertical-align: top;
	width: 100%;
	/* 图片宽度100%，达到自适应效果 */
}

/* 轮播结尾 */

.kua2 img {
	width: 100%;
}

.kua2 {
	margin-top: 0.84rem;
	width: 4.14rem;
	display: flex;
	flex-wrap: wrap;
}

.kua2 div {
	width: 0.826rem;
	height: 0.87rem;
}

.kua3 {
	width: 4.14rem;
	margin: 0.093rem 0;
	display: flex;
	justify-content: space-between;
}

.kua3 img {
	width: 100%;
}

.kua3 div

/* :nth-child(1) */
	{
	width: 2.05rem;
	height: 2.91rem;
}

.kua4 {
	width: 4.14rem;

}

.kua4 img {
	width: 100%;
}

.kua4 div:nth-child(1) {
	width: 4.14rem;
	height: 1.61rem;
}

.kua4 div:nth-child(2) {
	margin-top: 0.092rem;
	width: 4.14rem;
	height: 2.53rem;
}

.kua5 {
	width: 4.14rem;
	display: flex;
	justify-content: space-between;
	padding: 0.08rem;
	background: #FFFFFF;
}

.kua5-1 img {
	width: 100%;
}

.kua5 .kua5-1 {
	float: left;
	width: 1.96rem;
	height: 2.81rem;
}

.kua5-1 div:nth-child(2) {
	width: 1.96rem;
	height: 1.2rem;
	text-align: center;
}

.z1 {
	font-size: 0.18rem;
}

.z2 {
	font-size: 0.14rem;
	color: #747474;
}

.z3 {
	color: #EA625B;
	font-size: 0.22rem;
	margin-top: 0.1rem;
}

.z4 {
	width: 1rem;
	background: #ea625b;
	border-radius: .05rem;
	text-align: center;
	color: #fff;
	font-size: 0.18rem;
	padding: 0.03rem 0;
	margin: 0.06rem auto;
}

.xi1 {
	width: 4.14rem;
	height: 0.57rem;
	background: #FFFFFF;
	text-align: center;
	line-height: 0.57rem;
	color: #747474;
}

.kua6 {
	padding: 0.05rem;
	background: #FFFFFF;
	width: 4.14rem;
	height: 2.07rem;
	display: flex;
}

.kua6 img {
	width: 100%;
}

.kua6 div:nth-child(1) {
	width: 2.07rem;
	height: 2.07rem;
}

.kua6 div:nth-child(2) {
	padding: 0.44rem 0.1rem 0 .32rem;
	;
	width: 2.07rem;
	height: 2.07rem;
}

.tp {
	display: block;
	margin-top: 0.15rem;
	color: #EA625B;
}

.kua7 {
	background: #FFFFFF;
	width: 4.14rem;
	height: 2.07rem;
	display: flex;
}

.kua7 div:nth-child(1) {
	padding: 0.44rem 0.1rem 0 .32rem;
	width: 2.07rem;
	height: 2.07rem;
}

.kua7 img {
	width: 100%;
}

.kua7 div:nth-child(2) {
	width: 2.07rem;
	height: 2.07rem;
}

.kua8 {
	width: 4.14rem;
	height: 2.76;
	display: flex;
	justify-content: space-between;
}

.kua8 img {
	width: 100%;
}

.kua8 div {
	width: 2.05rem;
	eight: 2.76;
}

.jie {
	width: 4.14rem;
	height: 0.61rem;
}

.jie img {
	width: 100%;
}

.kon {
	width: 4.14rem;
	height: 0.52rem;
}

/* 底部固定 */

.dib {
	background: #FFFFFF;
	width: 4.14rem;
	height: 0.52rem;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	font-size: 0.14rem;
	color: #747474;
}

.dib img {
	width: 40%;
}

.dib a {
	display: block;
	width: 0.8rem;
	text-align: center;
}

/* 返回顶部 */
.fh {
	display: block;
	width: 0.4rem;
	height: 0.4rem;
	position: fixed;
	bottom: 10%;
	right: 5%;
}

.fh img {
	width: 100%;
}
