html {
    box-sizing: border-box;
}

* {
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    font-size: 0.16rem;
}


/* 顶部分享 */

.fenxiang {
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0px;
    padding: 10px 10px;
}

.fenxiang a {
    color: #ddd;
    display: inline-block;
    width: 42px;
    height: 42px;
}

.fenxiang img {
    width: 100%;
    height: auto;
}


/* 轮播图 */

.slideBox {
    position: relative;
    overflow: hidden;
    max-width: 560px;
    /* 设置焦点图最大宽度 */
}

.slideBox .hd {
    position: absolute;
    height: 28px;
    line-height: 28px;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.slideBox .hd li {
    display: inline-block;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #333;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 6px;
}

.slideBox .hd li.on {
    background: #fff;
}

.slideBox .bd {
    position: relative;
    z-index: 0;
}

.slideBox .bd li {
    position: relative;
    text-align: center;
}

.slideBox .bd li img {
    background: url(images/loading.gif) center center no-repeat;
    vertical-align: top;
    width: 100%;
    /* 图片宽度100%，达到自适应效果 */
}

.slideBox .bd li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* 去掉链接触摸高亮 */

.slideBox .bd li .tit {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-indent: 10px;
    height: 28px;
    line-height: 28px;
    background: url(images/focusBg.png) repeat-x;
    color: #fff;
    text-align: left;
}


/* 价格 */

.jiage {
    width: 100%;
    height: 1.8rem;
    border-bottom: 1px solid #D6D6D6;
}

.jia {
    margin-top: 0.1rem;
    margin-left: 0.2rem;
    height: 0.28rem;
    width: 3.4rem;
}

.jia span:nth-child(1) {
    font-size: .20rem;
    color: #ff6700;
    font-family: Avenir, Arial, sans-serif;
    vertical-align: top;
    font-weight: 700;
}

.jia span:nth-child(2) {
    color: #ff6700;
    font-size: .30rem;
    font-family: Avenir, Arial, sans-serif;
    font-weight: 700;
}

.hua {
    text-decoration: line-through;
}

.jia-2 {
    margin-left: 0.2rem;
    line-height: 1.8em;
    color: #000;
    font-weight: 700;
    font-size: .22rem;
    margin-top: .20rem;
    font-family: Avenir;
}

.jia-3 {
    height: 0.6rem;
    margin-left: 0.2rem;
}

.jia-3 span {
    font-size: 0.14rem;
}

.jia-3 div {
    margin-top: 0.05rem;
}

.jieshao {
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid #D6D6D6;
}

.jieshao ul {
    display: flex;
    margin-top: 0.2rem;
}

.jieshao-2 li {
    flex-grow: 4;
    text-align: center;
}

.jieshao-2 img {
    width: 0.2rem;
    height: 0.2rem;
}

.jieshao-2 li p {
    font-size: 0.12rem;
}


/* 型号选择 */

.xinhao {
    width: 100%;
    height: 0.5rem;
    /* border-bottom: 1px solid #D6D6D6; */
    display: flex;
    display: block;
}

.xinhao a {
    font-size: 0.14rem;
    flex-grow: 1;
    margin-left: 0.3rem;
    line-height: 0.5rem;
    font-weight: 400;
    color: #404040;
}

.icon-jiantou {
    color: #BABABA;
    position: absolute;
    right: 0;
}


/* 遮罩层 */

.zhe {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.zhao {
    z-index: 101;
    background-color: white;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
    border-radius: 0.1rem;
}

.zhe-2 img {
    width: 0.3rem;
    height: 0.3rem;
}

.tu {
    width: 1.05rem;
    height: 1.05rem;
    border: 1px solid #E5E5E5;
    margin-left: 0.2rem;
    /*  */
}

.tu img {
    width: 1rem;
    height: 1rem;
}

.jia {
    margin-top: 0.1rem;
    margin-left: 0.2rem;
    height: 0.28rem;
    width: 3.4rem;
}

.tu-2 {
    margin-top: 0.1rem;
    margin-left: 0.1rem;
}

.tu-2 span:nth-child(1) {
    font-size: .25rem;
    color: #ff6700;
    font-family: Avenir, Arial, sans-serif;
    font-weight: 400;
}

.tu-2 span:nth-child(2) {
    color: #ff6700;
    font-size: .30rem;
    font-family: Avenir, Arial, sans-serif;
    font-weight: 700;
}

.tu-2 p {
    font-size: 0.14rem;
    font-weight: 700;
}

.zhe-4 {
    width: 100%;
    height: 1.5rem;
    border: 1px solid #E5E5E5;
}

.zhe-4 p {
    font-size: 0.2rem;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
}

.tu-3 {
    display: inline-block;
    height: 0.5rem;
    width: 1rem;
    border: 2px solid #FF6700;
}

.zhe-4 a {
    color: #FF6700;
    font-size: 0.16rem;
    margin-left: 0.25rem;
    line-height: 0.5rem;
    font-weight: 400;
}

.zhe-5 {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    margin-left: 0.2rem;
}

.tu-4 {
    font-size: 0.16rem;
    margin-left: 0.1rem;
}

.tu-5 {
    text-align: center;
    width: 1.5rem;
    height: 0.6rem;
    margin-right: 0.2rem;
    margin-top: 0.1rem;
}

.tu-5 input {
    width: 0.5rem;
    height: 0.5rem;
    text-align: center;
    margin-top: 0.1rem;
    font-size: 0.16rem;
    font-weight: 700;
}

.zhe-6 {
    margin-left: 0.3rem;
    width: 3.2rem;
    height: 0.5rem;
    border: 1px solid #FF6700;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, #FF7D00, #FF5934);
}

.zhe-6 a {
    color: white;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.5rem;
    margin-left: 1.2rem;
}


/* 地址 */

.xuan {
    width: 100%;
    height: 0.5rem;
    border: 1px solid #E5E5E5;
    font-size: 0.2rem;
}

.xuan a {
    flex-grow: 1;
    margin-left: 0.3rem;
    line-height: 0.5rem;
    font-weight: 400;
    color: #404040;
    font-size: 0.14rem;
}

.dizhi {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.peisong {
    background-color: white;
    width: 100%;
    height: 5.2rem;
    position: fixed;
    bottom: 0px;
    border: 1px solid white;
    border-radius: 10px;
}

.huo {
    text-align: center;
    color: rgba(0, 0, 0, .87);
    font-size: 0.18rem;
}

.huo-2 {
    font-size: 0.12rem;
    text-align: center;
    margin-top: 0.3rem;
}

.huo-3 {
    margin-top: 3.5rem;
    margin-left: 0.3rem;
    width: 3.2rem;
    height: 0.5rem;
    border: 1px solid #FF6700;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, #FF7D00, #FF5934);
}

.huo-3 a {
    color: white;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.5rem;
    margin-left: 1.2rem;
}

.cha img {
    width: 0.3rem;
    height: 0.3rem;
}


/* 小米自营 */

.ziying {
    width: 100%;
    height: 0.5rem;
    background-color: #FCFCFC;
    border: 1px solid #E5E5E5;
}

.ziying-2 a {
    font-size: 0.12rem;
    line-height: 0.5rem;
}

.icon-2 {
    color: #CBCBCB;
    line-height: 0.5rem;
    padding-left: 0.3rem;
}


/* 米粉团 */

.mifen {
    width: 100%;
    line-height: 0.5rem;
}

.mifen a {
    color: #3C3C3C;
}

.mifen-2 {
    width: 100%;
    height: 0.5rem;
    margin-left: 0.3rem;
}

.tuan {
    border-top: 1px solid #E5E5E5;
    width: 100%;
}

.fensi {
    display: flex;
    overflow: hidden;
}

.fensi :nth-child(1) a.a1 {
    display: inline-block;
    width: 1.76rem;
    height: 1.76rem;
    flex-direction: row;
    flex-direction: column
}

.fensi :nth-child(1) a.a1 img {
    width: 100%;
    height: auto;
}

.fensi p.pp {
    margin-top: -10px;
    padding-left: 10px;
    height: 40px;
}

.fensi li:nth-child(1) p.pp2 a {
    display: inline-block;
    width: 50%;
    height: auto;
}

.fensi li:nth-child(1) p.pp2 a img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.fensi-2 {
    font-size: 0.12rem;
    margin-top: -5px;
    text-align: center;
}


/* 商品介绍 */

.shanpin {
    width: 100%;
}

.shanpin-2 {
    font-size: 0.14rem;
}

.shanpin-2 a {
    color: #3C3C3C;
    padding-left: 0.7rem;
}

.shanpin-2 a.bian {
    color: #FF6700;
}


/* 商品图片介绍 */

.sptp {
    width: 100%;
    margin-top: 0.1rem;
    display: flex;
    flex-direction: column;
}

.sptp img {
    width: 3.75rem;
    margin-bottom: -7px;
}


/* 参数规格图片 */

.cstp {
    width: 100%;
    height: 43rem;
    background-color: white;
    margin-top: 0.1rem;
    display: none;
}

.cstp img {
    width: 3.75rem;
}


/* 小火箭 */

.rocket img {
    width: 0.4rem;
    height: 0.4rem;
    position: fixed;
    bottom: 73px;
    right: 10px;
}


/* APP固定广告 */

.youhui img {
    width: 1.3rem;
    height: 0.4rem;
    position: fixed;
    bottom: 70px;
    right: 130px;
}


/* 底部固定 */

.guding {
    width: 100%;
    /* height: 2.6rem; */
    position: fixed;
    bottom: 0px;
    background-color: white;
    border-bottom: 1px solid white;
}

.gd li {
    flex-grow: 3;
    width: 0.6rem;
    /* margin-bottom: 0.1rem; */
}

.gd {
    display: flex;
    width: 1.3rem;
    /* height: 0.8rem; */
}

.gd img {
    width: 0.3rem;
    height: 0.3rem;
    line-height: 0.8rem;
    margin-left: 3px;
}

.gd li:nth-child(3)>a>img {
    width: 0.25rem;
    height: 0.25rem;
    margin-top: 5px;
    margin-left: 10px;
}

.gd p {
    margin-left: 0.06rem;
    font-size: 0.12rem;
    color: #999999;
    margin-top: -5px;
}

.qidai {
    width: 2rem;
    height: 0.4rem;
    border: 1px solid #FF6700;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, #FF7D00, #FF5934);
}

.qidai {
    color: white;
    font-size: 0.16rem;
    line-height: 0.4rem;
    text-align: center;
    margin-right: 0.1rem;
}