/*通用*/
body{
	background-color: #eee;
}
.sprite{
	background:url(../image/detail/nav_7.png) no-repeat;
}

/*头部图片*/
header{
	height: 2.06rem;
	position: relative;
	z-index: 5;
}
header a{
	display: inline-block;
}
header a img{
	width: 100%;
}
header .picBarBack{
	width: 0.36rem;
	height: 0.36rem;
	line-height: 0.36rem;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	border-radius: 100%;
	position: absolute;
	left: 0.1rem;
    top: 0.1rem;
    font-size: 0.18rem;
    transform: rotate(180deg);
}
header .picNum{
	width: 0.6rem;
	height: 0.2rem;
	line-height: 0.2rem;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0.1rem;
	position: absolute;
	left: 0.15rem;
    bottom: 0.4rem;
    color: #fff;
}
header .picNum i{
	font-size: 0.12rem;
}
header .picNum span{
	font-size: 0.12rem;
}
header article{
	color: #fff;
	font-size: 0.18rem;
	position: absolute;
	left: 0;
	right: 0;
    bottom: 0;
    height: 0.4rem;
    text-indent: 0.1rem;
    text-shadow: 0 1px 2px rgba(0,0,0,0.7);
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8)) ;
}

/*简评导航*/
nav{
	padding:0.05rem 0.1rem 0;
	background-color: #fff;
	border-radius: 0.1rem 0.1rem 0 0;
	position: relative;
	top: -0.1rem;
	z-index: 10;
	margin-bottom: 0.1rem;
}
nav article:first-child{
	display: flex;
	padding:0.05rem 0 0.1rem;
}
nav article:first-child a{
	display: inline-block;
	/*height: 0.41rem;*/
	position: relative;
	flex-grow: 1;
}
nav article:first-child span{
	font-size: 0.12rem;
	margin-right:0.1rem;
}
nav article:first-child a h6{
	color: #ff8300;
	font-weight: normal;
	
}
nav article:first-child a:nth-of-type(2){
	padding-left: 0.1rem;
}
nav article:first-child a:nth-of-type(2) h6{
	color: #212121;
}
nav article:first-child a h6 b{
	font-size: 0.18rem;
}
nav article:first-child p{
	color: #9e9e9e;
	line-height: 0.16rem;
}
nav article:first-child .arrow{
	font-size: 0.12rem;
	color:#9e9e9e;
	position: absolute;
	right: 0;
	top: 0.16rem;
}
nav>section{
	height: 0.38rem;
	line-height: 0.38rem;
	color: #212121;
	
}
nav>section span{
	color: #212121;
	width: 3rem;
	font-size: 0.14rem;
	margin-left: 0.1rem;
}
nav>section i{
	color: #9e9e9e;
	font-size: 0.12rem;

}

/*订购列表*/
	/*去哪儿推荐*/
.main{
	padding:0 0.1rem;
	background-color: #fff;
}
.main h4{
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.16rem;
	color: #212121;
}

/*门票说明*/
.shuoming{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	z-index: 91;
	display: none;
}
.shuoming .smBG{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

.shuoming .smDetail{
	background-color: #fff;
	height: 7.72rem;
	position: absolute;
	top:100%;
	left: 0;
	right: 0;
	transition:all 0.8s;

}
.shuoming #smSlideUp{
	top:5%;
}
.shuoming .smDetail h4{
	/*height: 0.67rem;*/
	line-height: 0.24rem;
	padding:0.22rem 0.1rem;
	font-size: 0.16rem;
	color: #333;
	position: relative;
	border-bottom: 1px solid #c9cccd;
	overflow: hidden;
	display:flex;
}
.shuoming .smDetail h4 .proNameBox{
	display:inline-block;
	width: 0;
	flex-grow: 1;
}
.shuoming .smDetail h4 .smclose{
	width: 0.5rem;
	height: 100%;
	font-size: 0.16rem;
	color: #9e9e9e;
	/*position: absolute;
	top: 0;
	right: 0;*/
	text-align: center;
	/*flex-grow: 0;*/
}
.shuoming .smDetail .bottomBtns{
	display: flex;
	height: 0.5rem;
	border-top: 1px solid #c9cccd;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
}
.shuoming .smDetail .bottomBtns p{
	width: 0;
	flex-grow: 1;
	text-align: center;
	font-size: 0.12rem;
	color: #ff9800;
	line-height: 0.5rem;
}
.shuoming .smDetail .bottomBtns p span{
	color: #999;
	font-size: 0.12rem;
}
.shuoming .smDetail .bottomBtns p b{
	font-size: 0.24rem;
}

.shuoming .smDetail .bottomBtns a{
	display: inline-block;
	width: 0;
	background-color: #ff9800;
	color: #fff;
	flex-grow: 1;
	line-height: 0.5rem;
	text-align: center;
}
.shuoming .smDetail .listBox{
	padding-bottom: 0.5rem;
	overflow: auto;
	height: 7.05rem;
}
.shuoming .smDetail .smList h5{
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.18rem;
	color: #212121;
	font-weight: normal;
}
.shuoming .smDetail .smList h5 i{
	display: inline-block;
	height: 0.16rem;
	width: 0.03rem;
	background-color: #00bcd4;
	margin:0 0.1rem;
	vertical-align: middle;
}
.shuoming .smDetail .smList ul {
	padding:0 0.2rem;
}
.shuoming .smDetail .smList ul li{
	display: flex;
	padding: 0.05rem 0;
}
.shuoming .smDetail .smList ul li div:nth-of-type(1){
	line-height: 0.2rem;
	width: 0.7rem;
	font-size: 0.14rem;
	color: #212121;
}
.shuoming .smDetail .smList ul li div:nth-of-type(2){
	width: 0;
	flex-grow: 1;
}
.shuoming .smDetail .smList ul li div:nth-of-type(2) h6{
	line-height: 0.2rem;
	margin-bottom: 0.05rem;
}
.shuoming .smDetail .smList ul li div:nth-of-type(2) h6 span{
	padding: 0.02rem 0.05rem;
	font-size: 0.12rem;
	color: #fff;
	background-image: linear-gradient(130deg,#ffab1e 37%,#ff8c12 100%);
}
.shuoming .smDetail .smList ul li div:nth-of-type(2) p{
	
	font-size: 0.14rem;
	color: #616161;
}
.shuoming .smDetail .must ul li{
	display: block;
}
.shuoming .smDetail .must ul li div:nth-of-type(1){
	width: 1rem;
}
.shuoming .smDetail .must ul li div:nth-of-type(2){
	width: 100%;
	flex-grow: 0;
	padding:0.05rem 0;
}

.shuoming .smDetail .feiyong p{
	width: 100%;
	line-height: 0.2rem;
	font-size: 0.14rem;
	color:#616161;
	padding:0 0.25rem;

}
.shuoming .smDetail .tishi{
	margin:0.15rem 0;
	height: 0.5rem;
	overflow: hidden;
}
.shuoming .smDetail .tishi h5{
	padding:0 0.2rem;
	height: 0.5rem;
	line-height: 0.5rem;
}
.shuoming .smDetail .tishi h5 span{
	font-size: 0.12rem;
	color: #9e9e9e;
}
.shuoming .smDetail .tishi p{
	margin:0;
	font-size: 0.14rem;
	color:#616161;
	padding:0 0.2rem;
}
.shuoming .smDetail .tishi p a{
	color: #00bcd4;
	font-size: 0.14rem;
}

.shuoming .smDetail .blueElf h5{
	padding:0 0.1rem;
	height: 0.5rem;
	line-height: 0.5rem;
	color: #212121;
	font-size: 0.16rem;
	font-weight: normal;
}
.shuoming .smDetail .blueElf span{
	font-size: 0.12rem;
	color: #9e9e9e;
}
.shuoming .smDetail .blueElf span img{
	width: 0.15rem;
	vertical-align: middle;
}
.shuoming .smDetail .blueElf p{
    color: #616161;
    font-size: 0.14rem;
    padding:0.05rem 0.1rem;
    margin:0;
}
.shuoming .smDetail .blueElf p a{
	color: #00bcd4;
    font-size: 0.14rem;
}


/*快速预定*/
.buy{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	z-index: 91;
	display: none;
}
.buy .buyBG{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

.buy .buyDetail{
	background-color: #fff;
	/*height: 2.32rem;*/
	position: absolute;
	bottom: -2.32rem;
	left:0;
	right: 0;
	transition:all 0.8s;

}
.buy #buySlideUp{
	bottom:0;
}
.buy .buyDetail h4{
	/*height: 0.3rem;*/
	line-height: 0.24rem;
	padding:0.3rem 0.1rem;
	font-size: 0.16rem;
	font-weight: normal;
	color: #212121;
	margin-top: 0.1rem;
	position: relative;
	overflow: hidden;
	display:flex;
}

.shuoming .buyDetail h4 .priceBox{
	display:inline-block;
	width: 0;
	flex-grow: 1;
}
.buy .buyDetail h4 .buyclose{
	width: 0.5rem;
	height: 0.3rem;
	font-size: 0.16rem;
	color: #9e9e9e;
	/*position: absolute;
	top: 0;
	right: 0;*/
	text-align: center;
}
.buy .buyDetail .price{
	font-size: 0.12rem;
	color: #ff9800;
	padding: 0 0.1rem;
}
.buy .buyDetail .price b{
	font-size: 0.18rem;
}
.buy .buyDetail .price span{
	color: #9e9e9e;
	margin:0 0.1rem;
	font-size: 0.12rem;
}
.buy .buyDetail .dayBox{
	/*margin-top: 0.1rem;*/
	padding:0.1rem 0.1rem 0;
}
.buy .buyDetail .dayBox h6{
	height: 0.32rem;
	line-height: 0.32rem;
	font-size: 0.14rem;
	color: #333;
	font-weight: normal;
}

.buy .buyDetail .dayBox .daySelect{
	display: flex;
	width: 100%;
	/*padding:0.1rem;*/
	justify-content: space-between;
}
.buy .buyDetail .dayBox .daySelect button{
	display: inline-block;
	width: 0.8rem;
	height: 0.43rem;
	/*line-height: 0.43rem;*/
	text-align: center;
	border:1px solid #bdbdbd;
	outline: none;
	border-radius: 0.05rem;
	font-size: 0.14rem;
	color: #212121;
	background-color: #fff;
	position: relative;
}
.buy .buyDetail .dayBox .daySelect button span{
	display: inline-block;
	width: 100%;
	font-size: 0.12rem;
	color: #888;

}
.buy .buyDetail .dayBox .daySelect button #otherDays{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 0.14rem;
}
.buy .buyDetail .dayBox .daySelect .dayChecked{
	color: #fff;
	background-color: #00bcd4;
	border:none;
}
.buy .buyDetail .dayBox .daySelect .dayChecked span{
	color: #fff;
}
.buy .buyDetail .dayBox .daySelect [disabled="disabled"]{
	color: #dedede;
	border-color: #dedede;
}
.buy .buyDetail .dayBox .daySelect [disabled="disabled"] span{
	color: #dedede;
}
.buy .buyDetail .dayRules{
	height: 0.32rem;
	line-height: 0.32rem;
	padding:0 0.1rem;
	color: #ff8300;
	font-size: 0.12rem;
}
.buy .buyDetail>a{
	display: inline-block;
	width: 100%;
	height: 0.5rem;
	line-height: 0.5rem;
	text-align: center;
	background-color: #ff8300;
	color: #fff;
}

	/*去哪儿推荐*/
.main{
	padding-bottom: 0.15rem;
	margin-bottom: 0.1rem;
}
.main .ticksList{
	background-color: #f8f8f8;
	border-radius: 0.1rem;
	margin-bottom: 0.25rem;
}
.main .ticks{
	background-color: #f8f8f8;
	border-radius: 0.1rem;
	padding:0.15rem;
	display: flex;
	/*height: 0.94rem;*/
}
.main .ticks .pageBtns{
	width: 0;
	flex-grow: 1;

}
.main .ticks .pageBtns h6{
	font-size: 0.14rem;
	line-height: 0.2rem;
	color: #333;
	font-weight: normal;
}
.main .ticks .pageBtns p{
	line-height: 0.2rem;
	margin-top: 0.05rem;
	font-size: 0.12rem;
	color: #00afc7;
}
.main .ticks .pageBtns p img{
	width: 0.12rem;
	vertical-align: top;
	margin: 0.02rem;
}
.main .ticks .buyBtns{
	width: 0.74rem;
}
.main .ticks .buyBtns h6{
	font-size: 0.12rem;
	color: #ff8300;
	text-align: center;
}
.main .ticks .buyBtns h6 span{
	font-size: 0.2rem;
}
.main .ticks .buyBtns p{
	width: 100%;
	height: 0.26rem;
	line-height: 0.26rem;
	text-align: center;
	border-radius: 0.2rem;
	background-color: #ff8300;
	color: #fff;
	font-size: 0.12rem;
}


/*景区内多景点套票*/
.lotsTicks h4{
	font-size: 0.2rem;
	font-weight: bold;
}
.tickBox{
	margin-bottom: 0.2rem;
}
.tickBox h5{
	/*height: 0.5rem;
	line-height: 0.5rem;*/
	padding-bottom: 0.14rem;
	font-size: 0.16rem;
	color: #212121;
}
.tickBox h5 i{
	display: inline-block;
	height: 0.16rem;
	width: 0.04rem;
	background-color: #00bcd4;
	margin:0 0.1rem;
	vertical-align: top;
}
.tickBox .ticksListBox{
	border-radius: 0.15rem;
	box-shadow: 0 0 0.06rem 0.01rem rgba(6,6,6,0.10);
	padding:0 0.15rem;
}
.tickBox .ticksListBox li{
	/*padding:0.15rem 0;*/
	border-bottom: 1px solid rgba(100,100,100,0.1);
	overflow: hidden;
	/*height: 0.55rem;*/
}
.tickBox .ticksListBox li>h6{
	/*height: 0.55rem;*/
	line-height: 0.22rem;
	font-size: 0.14rem;
	padding:0.12rem 0;
	color: #333;
	font-weight: normal;
}
.tickBox .ticksListBox li>h6 span{
	font-size: 0.12rem;
	color: #ff9800;
}
.tickBox .ticksListBox li>h6 span b{
	font-size: 0.2rem;
}
.tickBox .ticksListBox li>h6 span i{
	display: inline-block;
	font-size: 0.12rem;
	height: 0.18rem;
	line-height: 0.18rem;
	/*width: 0.18rem;*/
	text-align: center;
	color: #bbb;
	border-radius: 100%;
	border:1px solid #bbb;
	padding:0 0.02rem;	
	margin:0 0.05rem;
	transform: rotate(90deg);
}
.tickBox .ticksListBox li .ticksList{
	margin-bottom:0.2rem;
	/*display: none;*/
}
.tickBox .ticksListBox li .ticks{
	width: 100%;
}
.ticks p:nth-of-type(2) i{
	font-size: 0.12rem;
	color: #616161;
}
.ticks p:nth-of-type(2) span{
	margin-right: 0.05rem;
	font-size: 0.12rem;
	color: #616161;
}

/*一日游列表*/
.onedays .ticksListBox li h6 div{
	width: 2.2rem;
	font-size: 0.14rem;
	/*word-break: break-all;*/	
}
.onedays .tickBox{
	position: relative;
}
.onedays .ticksListBox{
	padding-bottom: 0.5rem;
}
.onedays .tickBox .more{
	height: 0.5rem;
	line-height: 0.5rem;
	color: #616161;
	font-size: 0.14rem;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.onedays .tickBox .more i{
	display: inline-block;
	font-size: 0.12rem;
	transform: rotate(90deg);
	margin-left: 0.05rem;
}

/*评论*/
.pinlun{
	background-color: #fff;
	padding:0 0.1rem;
}
.pinlun h4{
	height: 0.6rem;
	line-height: 0.6rem;
	/*padding:0 0.1rem;*/
	font-size: 0.16rem;
	color: #212121;
}
.pinlun .pinglunList{
	margin-bottom: 0.2rem;
}
.pinlun .pinglunList h6{
	height: 0.3rem;
	display: flex;
	justify-content: space-between;
	font-weight: normal;
}
.pinlun .pinglunList h6 :first-child span{
	font-size: 0.14rem;
	color: #ffb436;
}
.pinlun .pinglunList h6 :last-child span{
	font-size: 0.12rem;
	color: #9e9e9e;
	margin-left: 0.05rem;
}
.pinlun .pinglunList p{
	font-size: 0.13rem;
	color: #616161;
	line-height: 0.24rem;
	overflow: hidden;
}
.pinlun .picBox{
	position: relative;
}
.pinlun .pinglunList .pinlunMore {
	padding:0.1rem 0;
	/*height: 0.22rem;
	line-height: 0.22rem;*/
	text-align: center;
	display: none;
}
.pinlun .pinglunList .pinlunMore span{
	display: inline-block;
	font-size: 0.13rem;
	color: #9e9e9e;
	transform: rotate(90deg);
}
.pinlun .pinglunList .pinlunPic{
	display: flex;
	/*justify-content: space-around;*/
	flex-wrap: wrap;
	padding:0.1rem 0;
	/*height: 1.8rem;*/
	overflow: hidden;
}
.pinlun .pinglunList .pinlunPic a{
	display: inline-block;
	width: 32%;margin-left: 0.04rem;
}
.pinlun .pinglunList .pinlunPic a img{
	width: 100%;
}
.pinlun .picBox .picNum{
	font-size: 0.12rem;
	line-height: 0.2rem;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	padding-left: 0.15rem;
	border-radius: 0.1rem 0 0 0.1rem;
	position: absolute;
	right: 1%;
	bottom: 15%;
	display: none;
}
.pinlun .picBox .picNum span{
	font-size: 0.12rem;
}
.pinlun .morelink{
	display: inline-block;
	width: 100%;
	height: 0.5rem;
	line-height: 0.5rem;
	font-size: 0.14rem;
	text-align: center;
	color: #616161;
	border-top: 1px dashed #dadada;
}
.pinlun .morelink span{
	margin:0 0.05rem;

}
.pinlun .morelink span i{
	display: inline-block;
	font-size: 0.12rem;
	color: #616161;
	transform: rotate(90deg);
}


/*看了该景点的人还看了*/
.tuijian{
	background-color: #fff;
	margin:0.1rem 0;
}
.tuijian>h4{
	height: 0.44rem;
	line-height: 0.44rem;
	font-size: 0.16rem;
	color: #333;
	font-weight: normal;
}
.tuijian>h4 i{
	display: inline-block;
	height: 0.16rem;
	width: 0.03rem;
	background-color: #00bcd4;
	margin:0 0.1rem;
	vertical-align: middle;
}
.tuijian ul li a{
	display: flex;
	justify-content: space-between;
	border-top:1px solid #eee;
}

.tuijian ul li a article section{
	float: left;
	padding:0.1rem 0;
}
.tuijian ul li a article section:first-child{
	width: 0.8rem;

	margin:0 0.1rem;
}
.tuijian ul li a article section:first-child img{
	width:  0.8rem;
	height: 0.8rem;
}
.tuijian ul li a article section:last-child h6{
	line-height: 0.2rem;
	font-size: 0.14rem;
	color: #212121;
	font-weight: normal;
	margin-bottom:0.15rem;
}
.tuijian ul li a article section:last-child p span{
	line-height: 0.2rem;
	font-size: 0.12rem;
	color: #9e9e9e;
	margin-right: 0.05rem;
}
.tuijian ul li a article section:last-child p span i{
	font-size: 0.12rem;
	color:#ffb436;
}
.tuijian ul li a aside{
	font-size: 0.12rem;
	color: #ffb436;
	padding:0.1rem;
}
.tuijian ul li a aside b{
	font-size: 0.18rem;
}
.tuijian ul li a aside span{
	font-size: 0.12rem;
	color: #9e9e9e;
}

/*底部*/
footer{
	margin-top: 0.1rem;
}
footer .nav{
	height: 0.35rem;
	line-height: 0.35rem;
	text-align: center;
}
footer .nav a{
	display: inline-block;
	height: 0.35rem;
	line-height: 0.35rem;
	padding:0 0.1rem;
}
footer .nav a i{
	display: inline-block;
	width: .22rem;
	height: .22rem;
	background-size: 1.75rem 0.5rem;
	vertical-align: middle
}
footer .nav a span{
	padding:0.04rem;
	font-size: 0.12rem;
	color: #9e9e9e;
	text-decoration: underline;
}
footer .nav a .ico2{
	background-position: -0.25rem 0;
}
footer .nav a .ico3{
	background-position: -1.5rem 0;
}
footer .nav .more{
	/*line-height: 0.22rem;*/
}
footer .nav .more span{
	display: inline-block;
	height: 0.2rem;
	line-height: 0.2rem;
	padding:0;
	padding-left: 0.15rem;
	border-left: 1px solid #9e9e9e;
	text-decoration: none;
	vertical-align: middle;
	font-size: 0.14rem;
}

footer .footerLinks{
	height: 0.4rem;
	line-height: 0.4rem;
	padding:0 0.1rem;
}
footer .footerLinks a{
	padding:0 0.1rem;
	color: #25a4bb;
	font-size: 0.14rem;
}
footer .switch{
	padding-bottom: 0.1rem;
	border-top: 1px solid #cacaca;
}
footer .switch .switchBtn{
	height: 0.34rem;
	line-height: 0.34rem;
	text-align: center;
}
footer .switch .switchBtn a{
	display: inline-block;
	height: 100%;
	padding:0 0.15rem;
	color: #25a4bb;
	font-size: 0.14rem;
}
footer .switch .switchBtn a:first-child{
	color: #333;
}
footer .switch p{
	height: 0.24;
	text-align: center;
}
footer .switch p a{
	color: #9e9e9e;
	font-size: 0.14rem;
}




/*顶部漂浮栏*/
.fiexNav{
	height: 0.44rem;
	line-height: 0.44rem;
	background-color: #00bcd4;
	color: #fff;
	font-size: 0.16rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 90;
	text-align: center;
	display: none;
}
.fiexNav span{
	display: inline-block;
	width: 0.4rem;
	height: 0.44rem;
	line-height: 0.44rem;
	text-align: center;
	font-size: 0.18rem;
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	transform: rotate(180deg);
}

