/*通用*/
body{
	background-color: #f3f9fc;
}

/*头部*/
header{
	height: 0.44rem;
	line-height: 0.44rem;
	background-color: #18a9b9;
	display: flex;
	/*justify-content: space-between;*/
	/*align-items: stretch;*/
}
header .Back{
	width:0.6rem;
	color: #75ffff;
	transform: rotate(180deg);
	text-align: center;
}
header section:nth-of-type(2){
	color: #fff;
	font-size:0.18rem;
	flex-grow: 1;
	text-indent: 1.1rem;
}

 form ul{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	padding:0 0.1rem;
	margin:0.1rem 0;
}
 form ul li{
	height: 0.45rem;
	line-height: 0.45rem;
	display: flex;
	align-items: center;
}
 form ul li:nth-of-type(1),form ul li:nth-of-type(2){
	border-bottom: 1px solid #ccc;
}
 form ul li label{
	width: 0.9rem;
	/*text-align: center;*/
	font-size: 0.16rem;
	color:#19a9ba;
}
 form ul li input{
	flex-grow: 1;
	height: 0.35rem;
	border:none;
	outline: none;
}
 form ul li button, form ul li [type="button"]{
	height: 0.3rem;
	line-height: 0.2rem;
	width: 1rem;
	text-align: center;
	border:1px solid #ccc;
	border-radius: 0.05rem;
	outline: none;
	color: #d7dce0;
	font-size: 0.14rem;
}
form ul li .undisabled{
	background-color: #19a9ba;
	color: #fff;
	border:none;
}
 form ul li #picBox{
	color: #333;
 }
 form>section{
	text-align: center;
}
 form [type="submit"]{
	width: 3.55rem;
	height: 0.5rem;
	line-height: 0.5rem;
	text-align: center;
	font-size: 0.18rem;
	color: #fff;
	background-color: #85d1db;
	outline: none;
	border-radius: .03rem;
}
 form>p{
	margin-top:0.2rem;
	color: #9e9e9e;
	font-size: 0.12rem;
	text-align: center;
	padding:0 0.1rem;
}
 form>p a{
	color: #9e9e9e;
	font-size: 0.12rem;
	text-decoration: underline;
}

/*底部*/
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

}
footer section{
	display: flex;
	height: 0.48rem;
	border-bottom: 1px solid #ccc;

}
footer section a{
	display: inline-block;
	width: 0;
	flex-grow: 1;
	height: 0.48rem;
	line-height: 0.48rem;
	text-align: center;
	color: #25a4bb;
	font-size: 0.14rem;
}
footer p{
	height: 0.48rem;
	line-height: 0.38rem;
	text-align: center;
	color: #d4d9de;
	font-size: 0.12rem;
}



/*报错遮罩层*/
.errorBox{
	display: none;
}
.errorBG{
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 90;
}
.error{
	background-color: #fff;
	border-radius: 0.05rem;
	box-shadow: 0 0 5px rgba(221,221,221,0.5);
	/*width: 2.8rem;*/
	position: fixed;
	top: 45%;
	left: 10%;
	right: 10%;
	z-index: 91;
}
.error h4{
	height: 0.55rem;
	line-height: 0.55rem;
	text-align: center;
	font-weight: normal;
	border-bottom: 1px solid #dedee0;
}
.error p{
	text-align: center;
	height: 0.45rem;
	line-height: 0.45rem;
	font-size: 0.18rem;
	font-weight: bold;
	color:#2478d9;
}

