body{
    font-size: 0.16rem;
    background: #EDEDED;
}
/* 头部 */
.header{
    height: 1.6rem;
    line-height: 1.6rem;
    background:#F37D0F;  
    display: flex;
    flex-direction: row;
}
.header a{
    color:white;
    font-size: 0.22rem;
}
.photo{
    margin-left: 0.34rem;
    margin-right: 0.1rem;
}
.photo img{
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}
/* 导航 */
.lis{
    height: 0.82rem;
    line-height: 0.82rem;
    background: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.01rem solid #BBBBBB;
}
div a:nth-child(1){
    color:black;
    font-size: 0.28rem;
    margin-left: 0.33rem;
}
div .iconfont{
    font-size: 0.40rem;
    color:#BBBBBB;
    vertical-align: middle;
}
/* 待付款、待收货、退换修 */
.money{
    height: 1.15rem;
    background: white;
    display:flex;
    justify-content: space-around;
}
.moon{
    margin-top: 0.10rem;
}
.moon .iconfont{
    line-height: 0.50rem;
    margin-left: 0.50rem;
}
/* 会员中心、我的优惠 */
.vip{
    height: 2.20rem;
    background: white;
    margin-top: 0.2rem;
}
.vips{
    background:white;
    height: 1.10rem;
    display: flex;
}
.vips .icon-huiyuanzhongxin{
    color:#FDBF2D;
    line-height: 1.10rem;
    margin-left: 0.30rem;
}
.centers{
    width:6rem;
    line-height: 1.10rem;
    display: flex;
    justify-content: space-between;
    border-bottom:0.01rem solid silver;  
}
.center{
    width:6rem;
    line-height: 1.10rem;
    display: flex;
    justify-content: space-between;
}
/* 服务之家、小米之家 */
.vips .icon-fuwu{
    color:#F96C5E;
    line-height: 1.10rem;
    margin-left: 0.30rem;
}
.vips .icon-xiaomi{
    color:#FF8B43;
    line-height: 1.10rem;
    margin-left: 0.30rem;
}
/* 我的F码、礼物码兑换 */
.vips .icon-fmashangpin{
    color:#FFB302;
    line-height: 1.10rem;
    margin-left: 0.30rem;
}
.vips .icon-liwu{
    color:#F5A623;
    line-height: 1.10rem;
    margin-left: 0.30rem;
}
/* 设置 */
.vipes{
    margin-top: 0.2rem;;
    background:white;
    height: 1.10rem;
    display: flex;
    border-bottom:0.01rem solid silver;
}
.vipes .icon-settings{
    color:#818C99;
    line-height: 1.10rem;
    margin-left: 0.30rem;
}
/* 底部 */
.footer{
    height: 1.04rem;
    line-height: 0.40rem;
    background:white;
    display: flex;
    justify-content: space-around;
}
.footer div{
    margin-top: 0.15rem;
}
.footer div .iconfont{
    color:black;
}
.footer div p{
    text-align: center;
    color:#999999;
}
.footer div .icon-Icon_wode{
    color:#FF7010;
}
.footer div .my{
    color:#FF7010;
}
