/*顶部  */
.na{
    margin-left:0.1rem;
}
.na .iconfont{
    font-size:0.5rem;
}
/* 注册小米账号 */
.zhang{
    text-align: center;
    font-size:0.6rem;
    margin-bottom: 0.3rem;
}
.zhang a{
    color:black;
}
/* 注册 */
.zhuche{
    width: 5rem;
    height: 1rem;
    background:#E5E5E5;
    border-radius: 0.3rem;
    margin-left: 0.7rem;
    margin-bottom: 0.6rem;
}
.chinese{
    display: flex;
    justify-content: space-between;
    line-height: 0.6rem;
    font-size: 0.30rem;
    padding: 0.2rem;
}
.guo{
    font-size: 0.2rem;
    color:silver;
}
/* 手机号码 */
.chind{
    display: flex;
    font-size:0.3rem;
    line-height:1rem;
    padding-left: 0.2rem;
}
.chind input{
    border:none;
    background:#E5E5E5;
    font-size:0.24rem;
    color:silver;
}
/* 立即注册 */
.chis{
    width: 5rem;
    height: 1rem;
    background:#FF6700;
    border-radius: 0.5rem;
    margin-top: 0.6rem;
    font-size: 0.3rem;
    font-weight: 600;
    color:white;
    line-height: 1rem;
    text-align: center;
}
.read{
    margin-top: 0.4rem;
    color:silver;
    font-size: 0.2rem;
}
.read a{
    color:silver;
    font-size: 0.2rem; 
    text-decoration:underline;
}
/* 底部 */
.dibu{
    position: fixed;
    bottom: 0.3rem;
    left: 1.5rem;
}
.dibu a{
    color:silver;
    font-size: 0.25rem;
}
